<div 
    data-control="media-manager"
    class="layout"
    data-alias="<?= $this->alias ?>"
    data-delete-empty="<?= e(trans('cms::lang.media.delete_empty')) ?>"
    data-delete-confirm="<?= e(trans('cms::lang.media.delete_confirm')) ?>"
    data-move-empty="<?= e(trans('cms::lang.media.move_empty')) ?>"
>

    <?= $this->makePartial('toolbar') ?>
    <?= $this->makePartial('upload-progress') ?>

    <div class="layout-row whiteboard">
        <div class="layout">
            <div class="layout-row">
                <div class="layout-cell width-200 panel border-right" data-control="left-sidebar">
                    <?= $this->makePartial('left-sidebar') ?>
                </div>
                <div class="layout-cell">
                    <div class="layout">

                        <div class="layout-row min-size">
                            <?= $this->makePartial('folder-toolbar') ?>
                        </div>
                        <div class="layout-row">
                            <!-- Main area -->
                            <div class="layout">
                                <div class="layout-cell ">
                                    <div class="layout">
                                        <div class="layout-row">
                                            <!-- Main area - list -->
                                            <div data-control="item-list">
                                                <div class="control-scrollpad">
                                                    <div class="scroll-wrapper"> <!-- This element is required for the scrollpad control -->
                                                        <div id="<?= $this->getId('item-list') ?>" >
                                                            <?= $this->makePartial('item-list') ?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layout-row min-size">
                                            <!-- Main area - bottom toolbar -->

                                        </div>
                                    </div>
                                </div>
                                <div class="layout-cell width-300 panel border-left no-padding <?= !$sidebarVisible ? 'hide' : null ?>" data-control="preview-sidebar">
                                    <!-- Right sidebar -->
                                    <?= $this->makePartial('right-sidebar') ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?= $this->makePartial('new-folder-form') ?>
</div>