<?= $this->makePartial('item-sidebar-preview') ?>

<div class="panel hide" data-control="sidebar-labels">
    <label><?= e(trans('cms::lang.media.title')) ?></label>
    <p data-label="title"></p>

    <table class="name-value-list">
        <tr>
            <th><?= e(trans('cms::lang.media.size')) ?></th>
            <td data-label="size"></td>
        </tr>
        <tr>
            <th><?= e(trans('cms::lang.media.public_url')) ?></th>
            <td><a href="#" data-label="public-url" target="_blank"><?= e(trans('cms::lang.media.click_here')) ?></a></td>
        </tr>
        <tr data-control="last-modified">
            <th><?= e(trans('cms::lang.media.last_modified')) ?></th>
            <td data-label="last-modified"></td>
        </tr>

        <tr data-control="item-folder" class="hide">
            <th><?= e(trans('cms::lang.media.folder')) ?></th>
            <td><a href="#" data-type="media-item" data-item-type="folder" data-label="folder" data-clear-search="true"></a></td>
        </tr>
    </table>
</div>