<div class="layout-row min-size hide" data-control="upload-ui">
    <div class="layout">
        <div class="upload-progress">
            <h5 
                data-label="file-number-and-progress"
                data-message-template="<?= e(trans('cms::lang.media.uploading_file_num')) ?> <span>:percents</span>"
                data-success-template="<?= e(trans('cms::lang.media.uploading_complete')) ?>"
                data-error-template="<?= e(trans('cms::lang.media.uploading_error')) ?>"
            ></h5>

            <div class="progress-controls">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0;" data-control="upload-progress-bar">
                    </div>
                </div>

                <div class="controls">
                    <a href="#" data-command="cancel-uploading"><i class="icon-times-circle" title=""></i></a>
                    <a class="hide" href="#" data-command="close-uploader"><i class="icon-check-circle" title=""></i></a>
                </div>
            </div>
        </div>
    </div>
</div>