<div
    id="<?= $this->getId() ?>"
    class="field-mediafinder style-image-multiple is-image <?= $value ? 'is-populated' : '' ?> <?= $this->previewMode ? 'is-preview' : '' ?>"
    data-control="mediafinder"
    data-max-items="<?= $maxItems ?>"
    data-thumbnail-width="<?= $imageWidth ?: '0' ?>"
    data-thumbnail-height="<?= $imageHeight ?: '0' ?>"
>

    <!-- Find Button -->
    <a href="javascript:;" class="find-button">
        <span class="find-button-icon oc-icon-image"></span>
    </a>

    <!-- Existing value -->
    <div class="find-files-container">
        <div class="find-object">
            <div class="icon-container image">
                <img data-thumbnail alt="" />
            </div>
            <div class="info">
                <h4 class="filename">
                    <span data-name></span>
                    <a
                        href="javascript:;"
                        class="remove-button"
                        data-remove-item
                        ><i class="icon-times"></i></a>
                </h4>
                <p class="size" data-dz-size></p>
            </div>
            <div class="meta">
                <a href="javascript:;" class="drag-handle"><i class="icon-bars"></i></a>
                <div class="error-message"><span data-dz-errormessage></span></div>
            </div>
        </div>
    </div>

    <!-- Data locker -->
    <input
        type="hidden"
        name="<?= $field->getName() ?>"
        id="<?= $field->getId() ?>"
        value="<?= e($value) ?>"
        data-find-value
        />
</div>

<!-- Template for new files -->
<script type="text/template" id="<?= $this->getId('template') ?>">
    <div class="upload-object">
        <div class="icon-container image">
            <img data-thumbnail alt="" />
        </div>
        <div class="info">
            <h4 class="filename">
                <span data-name></span>
                <a
                    href="javascript:;"
                    class="remove-button"
                    data-remove-item
                    ><i class="icon-times"></i></a>
            </h4>
            <p class="size" data-dz-size></p>
        </div>
        <div class="meta">
            <a href="javascript:;" class="drag-handle"><i class="icon-bars"></i></a>
            <div class="error-message"><span data-dz-errormessage></span></div>
        </div>
    </div>
</script>
