
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= e($value) ?></div>
<?php else: ?>
    <div
        id="<?= $this->getId() ?>"
        class="field-markdowneditor size-<?= $size ?> <?= $stretch?'layout-relative':'' ?>"
        data-control="markdowneditor"
    >

    <div class="layout control-toolbar edita-toolbar">
        <div class="layout-cell toolbar-item">
            <div data-control="toolbar">
                <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="btn tb-icon tb-formatting"></a>
                    <ul class="dropdown-menu" data-dropdown-title="Formatting">
                        <li><a href="#" rel="quote" tabindex="-1" class="oc-icon-quote-right">Quote</a></li>
                        <li><a href="#" rel="code" tabindex="-1" class="oc-icon-code">Code</a></li>
                        <li><a href="#" rel="header1" tabindex="-1" class="oc-icon-header">Header 1</a></li>
                        <li><a href="#" rel="header2" tabindex="-1" class="oc-icon-header">Header 2</a></li>
                        <li><a href="#" rel="header3" tabindex="-1" class="oc-icon-header">Header 3</a></li>
                        <li><a href="#" rel="header4" tabindex="-1" class="oc-icon-header">Header 4</a></li>
                        <li><a href="#" rel="header5" tabindex="-1" class="oc-icon-header">Header 5</a></li>
                        <li><a href="#" rel="header6" tabindex="-1" class="oc-icon-header">Header 6</a></li>
                    </ul>
                </div>
                <button type="button" class="btn tb-icon tb-bold"></button>
                <button type="button" class="btn tb-icon tb-italic"></button>

                <button type="button" class="btn tb-icon tb-unorderedlist"></button>
                <button type="button" class="btn tb-icon tb-orderedlist"></button>

                <button type="button" class="btn tb-icon tb-link"></button>
                <button type="button" class="btn tb-icon tb-horizontalrule"></button>
            </div>
        </div>
        <div class="layout-cell toolbar-item width-fix">
            <button type="button" class="btn oc-icon-eye"></button>
            <button type="button" class="btn oc-icon-expand"></button>
        </div>
    </div>

<!--
        <div class="layout-cell toolbar-item width-fix">
            <input placeholder="search..." type="text" name="" value="" class="form-control icon search growable" autocomplete="off"/>
        </div>
    <div class="layout control-toolbar edita-toolbar">
        <div class="layout-cell toolbar-item">
            <div data-control="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary oc-icon-plus">Create post</button>
                    <button type="button" class="btn btn-primary oc-icon-copy">Copy</button>
                    <button type="button" class="btn btn-primary oc-icon-trash">Delete</button>

                    <button type="button" class="btn btn-primary oc-icon-magic">Publish</button>
                    <button type="button" class="btn btn-primary oc-icon-off">Unpublish</button>

                    <button type="button" class="btn btn-primary oc-icon-time">Timer</button>
                    <button type="button" class="btn btn-primary oc-icon-mail-reply-all">Send by email</button>
                    <button type="button" class="btn btn-primary oc-icon-hdd">Archive</button>
                </div>
            </div>
        </div>

    </div>

        <ul class="editor-toolbar">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="md-icon md-formatting" rel="formatting" tabindex="-1"></a>
                <ul class="dropdown-menu" data-dropdown-title="Formatting">
                    <li><a href="#" rel="quote" tabindex="-1" class="oc-icon-quote-right">Quote</a></li>
                    <li><a href="#" rel="code" tabindex="-1" class="oc-icon-code">Code</a></li>
                    <li><a href="#" rel="header1" tabindex="-1" class="oc-icon-header">Header 1</a></li>
                    <li><a href="#" rel="header2" tabindex="-1" class="oc-icon-header">Header 2</a></li>
                    <li><a href="#" rel="header3" tabindex="-1" class="oc-icon-header">Header 3</a></li>
                    <li><a href="#" rel="header4" tabindex="-1" class="oc-icon-header">Header 4</a></li>
                    <li><a href="#" rel="header5" tabindex="-1" class="oc-icon-header">Header 5</a></li>
                    <li><a href="#" rel="header6" tabindex="-1" class="oc-icon-header">Header 6</a></li>
                </ul>
            </li>
            <li><a href="#" class="md-icon md-bold" rel="bold" tabindex="-1"></a></li>
            <li><a href="#" class="md-icon md-italic" rel="italic" tabindex="-1"></a></li>
            <li><a href="#" class="md-icon md-unorderedlist" rel="unorderedlist" tabindex="-1"></a></li>
            <li><a href="#" class="md-icon md-orderedlist" rel="orderedlist" tabindex="-1"></a></li>
            <li><a href="#" class="md-icon md-link" rel="link" tabindex="-1"></a></li>
            <li><a href="#" class="md-icon md-horizontalrule" rel="horizontalrule" tabindex="-1"></a></li>
            <li class="editor-btn-right"><a href="#" class="md-icon md-fullscreen editor-btn-fullscreen" rel="fullscreen" tabindex="-1"></a></li>
            <li class="editor-btn-right"><a href="#" class="oc-button oc-icon-eye editor-btn-preview" rel="preview" tabindex="-1"></a></li>
        </ul>

-->

        <div class="editor-write">
            <textarea name="<?= $name ?>" id="<?= $this->getId('textarea') ?>"><?= e($value) ?></textarea>
        </div>

        <div class="editor-preview">
        </div>

    </div>
<?php endif ?>
