.control-filter {
    .form-check {
        .form-check-input {
            position: relative;
            top: 1px;
        }
        label {
            font-size: 14px;
            color: var(--oc-filter-text);
        }
    }

    > .filter-group > .filter-scope.scope-checkbox,
    /* @deprecated */
    > .filter-group > .filter-scope {
        &.form-check {
            padding-left: 29px;

            &, label {
                margin-bottom: 0;
            }

            &:after {
                content: '';
            }
        }

        &:hover, &.active {
            &.form-check label {
                color: var(--oc-filter-text-active);
            }
        }
    }
}
