@import "_header.css";
@import "_contents.css";
@import "_toolbar.css";

.component-backend-document {
    &.full-screen {
        background: var(--bs-body-bg);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: var(--oc-zindex-dropdown);
    }

    .document-fade-in-enter-active {
        transition: opacity 0.3s;
    }

    .document-fade-in-enter {
        opacity: 0;
    }
}

body.backend-document-layout {
    /* Fixes Edge/IE11 page horizontal toolbars */
    overflow-x: hidden;
}

body.component-backend-document-fullscreen {
    overflow: hidden;
}
