html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
  color: #333;
}
/*
code,
pre {
    font-family: Menlo, Monaco, monospace, sans-serif;
}

div,
p,
ul,
ol,
table,
dl,
blockquote,
td,
th,
pre {
    font-size: 14px;
    line-height: 1.5rem;
}
div {
    border: 1px dashed #bbb !important;
}
a {
    color: #15c;
    text-decoration: underline;
}
.redactor_placeholder {
    color: #999 !important;
    display: block !important;
    margin-bottom: 10px !important;
}

object,
embed,
video,
img {
    max-width: 100%;
    width: auto;
}
video,
img {
    height: auto;
}

div,
p,
ul,
ol,
table,
dl,
blockquote,
pre {
    margin: 0;
    margin-bottom: 15px;
    border: none;
    background: none;
    box-shadow: none;
}
iframe,
object,
hr {
    margin-bottom: 15px;
}
blockquote {
    margin-left: 3em;
    color: #777;
    font-style: italic;
}
ul,
ol {
    padding-left: 2em;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin: 2px;
    padding: 0;
    padding-left: 2em;
    border: none;
}
dl dt { font-weight: bold; }
dd { margin-left: 1em;}

table {
    border-collapse: collapse;
    font-size: 1em;
}
table td {
    padding: 5px;
    border: 1px solid #ddd;
    vertical-align: top;
}
table thead td {
    border-bottom: 2px solid #000;
    font-weight: bold;
}
code {
    background-color: #d8d7d7;
}
pre {
    overflow: auto;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;
    white-space: pre;
    font-size: 90%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    background: none;
    color: #333;
    font-weight: bold;
}

h1 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 40px;
}
h2 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 38px;
}
h3 {
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
}
h4 {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
}
h5 {
    margin-bottom: 10px;
    font-size: 1em;
}
table {
    width: 100%;
}

body.redactor_editor_wym {
    background: #f4f4f4;
}
.redactor_editor_wym div,
.redactor_editor_wym p,
.redactor_editor_wym ul,
.redactor_editor_wym ol,
.redactor_editor_wym table,
.redactor_editor_wym dl,
.redactor_editor_wym pre,
.redactor_editor_wym h1,
.redactor_editor_wym h2,
.redactor_editor_wym h3,
.redactor_editor_wym h4,
.redactor_editor_wym h5,
.redactor_editor_wym blockquote {
    margin: 0 0 10px 0;
    padding: 7px 10px;
    border: 1px solid #e4e4e4;
    background-color: #fff;
}
.redactor_editor_wym div {
    border: 1px dashed #bbb !important;
}
.redactor_editor_wym pre {
    border: 2px dashed #e4e4e4 !important;
    background-color: #fafafa !important;
}
.redactor_editor_wym code {
    background-color: #f4f4f4 !important;
}
.redactor_editor_wym ul,
.redactor_editor_wym ol {
    padding-left: 2em !important;
}
.redactor_editor_wym ul li ul,
.redactor_editor_wym ul li ol,
.redactor_editor_wym ol li ol,
.redactor_editor_wym ol li ul {
    border: none !important;
}

*/
figure {
  position: relative;
}
figcaption {
  text-align: center;
  line-height: 1.428571429;
  font-size: 14px;
}
figure[data-type=table] {
  clear: both;
}
figure[data-type=video] {
  position: relative;
  margin-bottom: 1.428571429;
  text-align: center;
  clear: both;
}
figure[data-type=video] p {
  margin: 0;
}
figure[data-type=video].wy-figure-full:before {
  position: relative;
  padding-bottom: 51%;
  width: 100%;
  height: 0;
  content: "";
  display: block;
}
figure[data-type=video].wy-figure-full iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
figure[data-type=image] {
  position: relative;
  margin-bottom: 1.428571429;
}
figure[data-type=image] .wy-figure-controls {
  top: 0px;
}
figure[data-type=image] img {
  width: 100%;
}
figure[data-type=image].wy-figure-large {
  width: 100%;
  clear: both;
}
figure[data-type=image].wy-figure-medium {
  width: 50%;
}
figure[data-type=image].wy-figure-small {
  width: 33%;
}
figure[data-type=quote] {
  margin-bottom: 1.428571429;
  margin-left: 1.428571429;
  font-style: italic;
  position: relative;
  border-left: solid 5px #333333;
  padding-left: 1.428571429;
}
figure[data-type=quote] figcaption {
  font-weight: bold;
  text-align: left;
}
figure[data-type=quote] .wy-figure-controls {
  margin-left: -5px;
}
figure[data-type=quote].wy-figure-medium {
  font-size: 20px;
}
figure[data-type=quote].wy-figure-large {
  font-size: 24px;
}
figure[data-type=quote].wy-figure-right {
  width: 33%;
}
figure[data-type=quote].wy-figure-left {
  width: 33%;
  border-left: none;
  border-right: solid 5px #333333;
  padding-left: 0;
  padding-right: 1.428571429;
  margin-left: 0;
  margin-right: 1.428571429;
}
figure[data-type=quote].wy-figure-left .wy-figure-controls {
  margin-left: 0;
  margin-right: -5px;
}
figure[data-type=quote] cite {
  display: block;
  text-align: left;
  font-weight: bold;
}
figure[data-type=quote] cite:before {
  content: "\2014\00a0";
}
figure[data-type=quote] cite:empty:before {
  opacity: 0.4;
  content: "\2014 Type to add citation (optional)";
}
figure:hover .wy-figure-controls {
  display: block;
}
.wy-figure-controls {
  background: #555555;
  padding: 0.35714285725;
  position: absolute;
  display: none;
  min-width: 100%;
  white-space: nowrap;
  left: 0;
  height: 37px;
  top: -37px;
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;
  border-bottom: solid 3px #3c3c3c;
  line-height: 1.428571429;
  font-style: normal;
  z-index: 5;
  text-align: center;
}
.wy-figure-controls span {
  display: inline-block;
  border: none;
  background: none;
  color: #fff;
  vertical-align: top;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
}
.wy-figure-controls span:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.wy-figure-controls span.on {
  background: #fff;
  color: #555555;
}
.wy-figure-controls span.wy-figure-controls-divider {
  width: 1px;
  background: #6f6f6f;
  padding: 0;
  margin: 0 2px;
  cursor: normal;
}
.wy-figure-controls span.wy-figure-controls-small {
  font-size: 50%;
}
.wy-figure-controls span.wy-figure-controls-medium {
  font-size: 75%;
}
.wy-figure-controls span.wy-figure-controls-delete {
  margin-left: 1.428571429;
}
.wy-figure-controls span.wy-figure-controls-delete:hover {
  background: #ff0000;
}
.wy-figure-controls span.wy-figure-controls-table {
  width: auto;
  padding-left: 0.35714285725;
  text-align: left;
}
.wy-figure-right {
  float: right;
  margin-left: 1.428571429;
}
.wy-figure-right .wy-figure-controls {
  right: 0;
}
.wy-figure-left {
  float: left;
  margin-right: 1.428571429;
}
@media (max-width: 769px) {
  figure[data-type=image] {
    width: 100% !important;
    float: none !important;
    margin-left: 0;
    margin-right: 0;
  }
  figure[data-type=video] iframe {
    width: 100% !important;
    height: auto !important;
  }
}
