.field-richeditor {
  border: 1px solid #e0e0e0;
}
.field-richeditor,
.field-richeditor .redactor_box,
.field-richeditor .redactor_toolbar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.field-richeditor.editor-focus {
  border-color: #808c8d;
}
.field-richeditor.size-tiny textarea {
  height: 20px;
}
.field-richeditor.size-small textarea {
  height: 70px;
}
.field-richeditor.size-large textarea {
  height: 170px;
}
.field-richeditor.size-huge textarea {
  height: 220px;
}
.field-richeditor.size-giant textarea {
  height: 320px;
}
.field-richeditor .redactor_box {
  border: none;
}
.field-richeditor .redactor_box .redactor_toolbar {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.field-richeditor .redactor_box iframe {
  border: none;
}
.field-richeditor.stretch .redactor_box {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.field-richeditor.stretch .redactor_box .redactor_toolbar {
  display: block;
  border-bottom: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.field-richeditor.stretch .redactor_box .redactor_toolbar > li:first-child:after {
  position: absolute;
  content: ' ';
  width: 100%;
  height: 1px;
  left: 0;
  top: 32px;
  background-color: #e0e0e0;
}
.field-richeditor.stretch .redactor_box iframe,
.field-richeditor.stretch .redactor_box textarea {
  display: block;
  position: absolute;
  height: 100%!important;
}
