.component-backend-inspector-panel {
    .component-backend-inspector-controlhost {
        width: 100%;
        table-layout: fixed; /* The fixed layout doesn't work well in some cases but it still must be "fixed" */
        background-color: transparent;
        border-top: 1px solid var(--oc-primary-border);

        > tbody > tr {
            > th,
            > td {
                padding: 0;
                border-bottom: 1px solid var(--oc-primary-border);
            }

            &.hide-bottom-border {
                > th,
                > td {
                    border-bottom: none;
                }
            }

            &.focused {
                > th,
                > td {
                    border-bottom: 1px solid var(--bs-primary);
                }
            }

            &.has-errors {
                &, &.focused {
                    > th,
                    > td {
                        border-bottom: 1px solid var(--bs-danger);

                        > .inspector-label-container {
                            > label {
                                color: var(--bs-danger);
                            }
                        }
                    }
                }
            }

            th {
                background: #f0f4f8;
                vertical-align: top;
                user-select: none;
            }
        }

        .inspector-control-container {
            position: relative;

            > div[tabindex] {
                outline: none;
            }

            &:before {
                content: '';
                position: absolute;
                left: -1px;
                top: 0;
                height: 100%;
                width: 1px;
                border-left: 1px dotted var(--oc-primary-border);
                opacity: 1;
                transition: opacity 0.35s;
            }

            .inspector-drag-handle {
                position: absolute;
                left: -1px;
                top: 1px;
                width: 3px;
                height: 100%;
                cursor: col-resize;
            }

            .component-backend-loading-indicator {
                margin-left: var(--inspector-base-control-side-padding);
            }
        }

        .inspector-label-container {
            position: relative;

            &.has-description label {
                margin-right: 25px;
            }

            label {
                display: block;
                height: 35px;
                padding-top: 0;
                padding-bottom: 0;
                padding-right: var(--inspector-base-control-side-padding);
                margin: 0;
                font-size: 14px;
                line-height: 35px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;
                color: var(--oc-primary-color);
            }

            .property-description {
                display: block;
                position: absolute;
                right: 5px;
                top: 8px;
                width: 19px;
                height: 19px;
                border-radius: 25px;

                &:before {
                    width: 5px;
                    height: 11px;
                    left: 7px;
                    top: 4px;
                    background-position: -52px -35px;
                    position: absolute;
                }
            }
        }

        .full-width-control-label {
            padding-top: 8px;

            label {
                display: block;
                line-height: 35px;
                font-weight: 600;
            }

            label, .full-width-property-description {
                word-break: break-all;
                color: var(--oc-primary-color);
            }

            .full-width-property-description {
                margin-top: -9px;
                margin-bottom: 10px;
            }
        }
    }

    > .component-backend-inspector-grouphost > .component-backend-inspector-controlhost,
    .tabpanel > .component-backend-inspector-grouphost > .component-backend-inspector-controlhost:first-child {
        border-top: none;
    }
}
