.component-backend-inspector-panel .component-backend-inspector-controlhost {
    .component-backend-inspector-checkbox {
        label {
            margin: 0;
            padding: 0;
            outline: none;
            border-radius: 4px;
            position: relative;
            top: 2px;

            &:focus {
                box-shadow: 0 0 0px 2px rgba(0, 0, 0, 0.15);
            }

            input {
                display: none;
            }

            span {
                display: block;
                width: 16px;
                height: 16px;

                &:before {
                    width: 16px;
                    height: 16px;
                    display: block;
                    background-position: -88px -40px;
                }
            }

            input:checked + span:before {
                background-position: -68px -40px;
            }

            input[readonly]:checked + span:before {
                background-position: -108px -40px;
            }
        }
    }
}
