.component-backend-inspector-panel .component-backend-inspector-controlhost {
    div.multiselect {
        font-size: 14px;
        color: inherit;
        min-height: 0;

        &, .multiselect__input, .multiselect__single {
            font-size: 14px;
        }

        &.multiselect--disabled, .multiselect--disabled {
            &, .multiselect__select {
                background: transparent;
                opacity: 1;
                color: #899C9D;
            }

            .multiselect__select {
                opacity: 0.5;
            }
        }

        .multiselect__content-wrapper {
            z-index: 1000;
        }

        .multiselect__single {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            white-space: nowrap;
        }

        /* Placeholder */
        span > .multiselect__single {
            color: var(--inspector-placeholder-color);
        }

        .multiselect__input, .multiselect__single {
            line-height: var(--inspector-control-height);
            height: var(--inspector-control-height);
            padding: 0;
            margin: 0;
        }

        .multiselect__input::placeholder {
            color: var(--inspector-placeholder-color) !important;
        }

        .multiselect__content-wrapper {
            margin-left: -1px;
            margin-top: 3px;
            border-radius: 4px;
            box-sizing: content-box;
            border-color: var(--oc-primary-border);
            border-top: 1px solid var(--oc-primary-border);
            padding: 3px;
            box-shadow: -2px 2px 5px rgba(67, 86, 100, 0.12);

            ul.multiselect__content {
                display: block !important;

                li span.multiselect__option {
                    min-height: 30px;
                    line-height: 30px;
                    padding: 0 var(--inspector-base-control-side-padding);
                    border-radius: 2px;

                    &.multiselect__option--highlight {
                        background: var(--oc-selection);
                    }

                    &.multiselect__option--selected {
                        font-weight: 600;
                    }

                    span {
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }

        .multiselect__tags {
            border: none;
            padding: 0 15px 0 var(--inspector-base-control-side-padding);
            margin: 0;
            line-height: var(--inspector-control-height);
            min-height: var(--inspector-control-height);
            height: var(--inspector-control-height);
        }

        .multiselect__select {
            top: 0;
            right: 0;
            height: var(--inspector-control-height);
            width: 15px;
            margin: 0;
            padding: 0;
            transition: none;

            &:before {
                width: 10px;
                height: 6px;
                margin: 0;
                right: 0;
                top: 9px;
                border: none;
                display: inline-block;
                background-position: -182px 0;
            }
        }

        &.multiselect--above {
            .multiselect__content-wrapper {
                margin-top: 0;
                margin-bottom: 3px;
                border-bottom: 1px solid var(--oc-primary-border);
            }
        }

        &.multiselect--active {
            .multiselect__select:before {
                top: 7px;
            }
        }

        .multiselect-enter-active,
        .multiselect-leave-active {
            transition: none;
        }

        .option-with-icon {
            display: flex;

            .option-icon {
                width: 26px;
                font-size: 22px;
                position: relative;

                &:before {
                    top: 4px;
                    left: -4px;
                    position: absolute;
                }
            }
        }

        .option-with-color {
            display: flex;

            .option-color {
                width: 18px;
                height: 18px;
                position: relative;
                top: 5px;
                border: 1px solid white;
                margin-right: 5px;
            }
        }
    }

    /* Override vendor styles */
    div.multiselect {
        .multiselect__input,
        .multiselect__single,
        .multiselect__tags {
            background: transparent;
            color: var(--bs-body-color);
        }
        .multiselect__content-wrapper {
            background: var(--oc-form-control-bg);
        }
        .multiselect__option--selected {
            color: var(--bs-secondary-color);
            background: var(--bs-tertiary-bg);
        }
        .multiselect__option--highlight {
            color: #fff;
        }
    }
}
