<script type="text/template" data-control="alert-dialog">
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="modal-title lead" data-message></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-cancel>
                        Cancel
                    </button>
                    <button type="button" class="btn btn-primary" data-ok>
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
