<script type="text/template" data-control="password-dialog">
    <div class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <form method="post" class="modal-content" data-request="onConfirmPassword" data-request-flash>
                <div class="modal-header">
                    <h5 class="modal-title fs-5" data-message>Confirm password</h5>
                </div>
                <div class="modal-body">
                    <p>For your security, please confirm your password to continue.</p>
                    <input
                        name="confirmable_password"
                        type="password"
                        value=""
                        class="form-control"
                        placeholder="Current password"
                    />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-cancel>
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-primary" data-confirm data-attach-loading>
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>
