<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    ##
    ## You may need to uncomment the following line for some hosting environments,
    ## if you have installed to a subdirectory, enter the name here also.
    ##
    # RewriteBase /

    ##
    ## Black list protected files
    ##
    RewriteRule ^themes/.*/(layouts|pages|partials)/.*.htm index.php [L,NC]
    RewriteRule ^bootstrap/.* index.php [L,NC]
    RewriteRule ^config/.* index.php [L,NC]
    RewriteRule ^vendor/.* index.php [L,NC]
    RewriteRule ^storage/cms/.* index.php [L,NC]
    RewriteRule ^storage/logs/.* index.php [L,NC]
    RewriteRule ^storage/framework/.* index.php [L,NC]
    RewriteRule ^storage/temp/protected/.* index.php [L,NC]
    RewriteRule ^storage/app/uploads/protected/.* index.php [L,NC]

    ##
    ## White listed folders and files
    ##
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} !\.js$
    RewriteCond %{REQUEST_FILENAME} !\.map$
    RewriteCond %{REQUEST_FILENAME} !\.ico$
    RewriteCond %{REQUEST_FILENAME} !\.jpg$
    RewriteCond %{REQUEST_FILENAME} !\.jpeg$
    RewriteCond %{REQUEST_FILENAME} !\.bmp$
    RewriteCond %{REQUEST_FILENAME} !\.png$
    RewriteCond %{REQUEST_FILENAME} !\.gif$
    RewriteCond %{REQUEST_FILENAME} !\.svg$
    RewriteCond %{REQUEST_FILENAME} !\.css$
    RewriteCond %{REQUEST_FILENAME} !\.less$
    RewriteCond %{REQUEST_FILENAME} !\.scss$
    RewriteCond %{REQUEST_FILENAME} !\.pdf$
    RewriteCond %{REQUEST_FILENAME} !\.swf$
    RewriteCond %{REQUEST_FILENAME} !\.txt$
    RewriteCond %{REQUEST_FILENAME} !\.xml$
    RewriteCond %{REQUEST_FILENAME} !\.xls$
    RewriteCond %{REQUEST_FILENAME} !\.eot$
    RewriteCond %{REQUEST_FILENAME} !\.woff$
    RewriteCond %{REQUEST_FILENAME} !\.woff2$
    RewriteCond %{REQUEST_FILENAME} !\.ttf$
    RewriteCond %{REQUEST_FILENAME} !\.flv$
    RewriteCond %{REQUEST_FILENAME} !\.wmv$
    RewriteCond %{REQUEST_FILENAME} !\.mp3$
    RewriteCond %{REQUEST_FILENAME} !\.ogg$
    RewriteCond %{REQUEST_FILENAME} !\.wav$
    RewriteCond %{REQUEST_FILENAME} !\.avi$
    RewriteCond %{REQUEST_FILENAME} !\.mov$
    RewriteCond %{REQUEST_FILENAME} !\.mp4$
    RewriteCond %{REQUEST_FILENAME} !\.mpeg$
    RewriteCond %{REQUEST_FILENAME} !\.webm$
    RewriteCond %{REQUEST_FILENAME} !\.mkv$
    RewriteCond %{REQUEST_FILENAME} !\.rar$
    RewriteCond %{REQUEST_FILENAME} !\.zip$
    RewriteCond %{REQUEST_URI} !docs/.*
    RewriteCond %{REQUEST_URI} !themes/.*
    RewriteRule ^ index.php [L,NC]

    ##
    ## Standard routes
    ##
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

</IfModule>
