<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="October CMS Test Suite">
            <directory>./tests/unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./modules/</directory>

            <exclude>
                <file>./modules/backend/routes.php</file>
                <file>./modules/cms/routes.php</file>
                <file>./modules/system/routes.php</file>

                <directory suffix=".php">./modules/backend/database</directory>
                <directory suffix=".php">./modules/cms/database</directory>
                <directory suffix=".php">./modules/system/database</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="APP_ENV" value="testing" />
        <env name="CACHE_DRIVER" value="array" />
        <env name="SESSION_DRIVER" value="array" />
    </php>
</phpunit>
