<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        

        <!--URL REWRITE RULES-->

        <rewrite>

            <rules>

                <rule name="IgnoreModules" stopProcessing="true">
                    <match url="^modules/.*" />
                    <action type="None" />
                </rule>

                <rule name="RewriteThemes" stopProcessing="true">
                    <match url="^themes/.*/(layouts|pages|partials)/.*.htm"
                           ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteBootstrap" stopProcessing="true">
                    <match url="^bootstrap/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteConfig" stopProcessing="true">
                    <match url="^config/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteConfig" stopProcessing="true">
                    <match url="^vendor/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteStorageCMS" stopProcessing="true">
                    <match url="^storage/cms/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteConfig" stopProcessing="true">
                    <match url="^storage/logs/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteStorageFramework" stopProcessing="true">
                    <match url="^storage/framework/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteStorageTempProtected" stopProcessing="true">
                    <match url="^storage/temp/protected/.*" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteStorageAppUploads" stopProcessing="true">
                    <match url="^storage/app/uploads/protected/.*"
                           ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>
                <rule name="RewriteOther" stopProcessing="true">
                    <match url="^" ignoreCase="true" />
                    <action type="Rewrite" url="/index.php" />
                </rule>

            </rules>
        </rewrite>


        <!-- END URL REWRITE RULES-->

    </system.webServer>
</configuration>