<div
    data-control="table"
    class="control-table"
    data-columns="<?= e(json_encode($columns)) ?>"
    data-data="<?= e($data) ?>"
    data-postback-handler-name="<?= e($postbackHandlerName) ?>"
    data-adding="<?= e($adding) ?>"
    data-deleting="<?= e($deleting) ?>"
    data-toolbar="<?= e($toolbar) ?>"
    data-height="<?= e($height) ?>"
    data-records-per-page="<?= e($recordsPerPage) ?>"
    data-key-column="<?= e($recordsKeyColumn) ?>"
    data-client-data-source-class="<?= e($clientDataSourceClass) ?>"
    data-alias="<?= e($this->alias) ?>"></div>