<?php

    $data = [
        [
            'name' => 'City',
            'type' => 'String',
            'default' => 'Vancouver',
            'description' => 'City name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'Country',
            'type' => 'String',
            'default' => 'Canada',
            'description' => 'Country name',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ],
        [
            'name' => 'State',
            'type' => 'String',
            'default' => 'BC',
            'description' => 'British columbia',
            'details' => 'Details string',
            'monitors' => 'Monitors string',
            'pencils' => 'Pencils string',
            'speakers' => 'Speakers string',
            'stickers' => 'Stickers string'
        ]
    ];

?>

<div data-control="table" data-columns="<?= e(json_encode($columns)) ?>" data-data="<?= e(json_encode($data)) ?>"></div>