// Rowlink.less
// CSS for rowlink plugin
// ----------------------

tr.rowlink:not(.nolink) td {
    cursor: pointer;
    &.nolink {
        cursor: auto;
    }
}

.table tbody tr.rowlink:hover td {
    background-color: @table-bg-hover;
}

a.rowlink {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
}
