//
// Dependencies
// --------------------------------------------------

@import "global.less";

//
// Progress bars
// --------------------------------------------------

@import "progressbar.base.less";

@progress-bg:                 #f5f5f5;
@progress-bar-color:          #fff;

@progress-bar-bg:             @brand-primary;
@progress-bar-success-bg:     @brand-success;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
@progress-bar-info-bg:        @brand-info;


div.progress {
    height: 9px;
    .box-shadow(none);
    background: #d9dee0;
}

.progress-bar {
    line-height: 9px;
    .box-shadow(none);
    background-color: #2f99da;

    &.progress-bar-success {
        background-color: #31ac5f;
    }
}


