##
description = "Blog layout"

[collection blogCategories]

[resources]
less[] = "layouts/blog.less"
vars[activeBlogCategory] = ""

[global blogConfig]
==
<!DOCTYPE html>
<html>
    <head>
        {% partial 'site/meta' %}
    </head>
    <body class="{{ 'page-'~this.page.id }}">

        <!-- Header -->
        <header id="layout-header">
            {% partial 'site/header' %}
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="container">
                <header class="blog-header py-3">
                    <div class="row flex-nowrap justify-content-between align-items-center">
                        <div class="col-4 pt-1">
                            <a class="link-secondary" href="{{ 'blog/rss'|page }}">Subscribe</a>
                        </div>
                        <div class="col-4 text-center">
                            <a class="blog-header-logo text-dark" href="{{ 'blog/index'|page }}">{{ blogConfig.blog_name|default('Latest News') }}</a>
                        </div>
                        <div class="col-4 d-flex justify-content-end align-items-center">
                            <a class="link-secondary" href="#" aria-label="Search">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
                            </a>
                        </div>
                    </div>
                </header>

                <div class="nav-scroller py-1 mb-2">
                    <nav class="nav d-flex justify-content-center">
                        {% for category in blogCategories %}
                            <a
                                class="p-2 nav-link link-secondary {{ activeBlogCategory == category.slug ? 'active' }}"
                                href="{{ 'blog/category'|page({ slug: category.slug }) }}">
                                {{ category.title }}
                            </a>
                        {% endfor %}
                    </nav>
                </div>
            </div>

            {% page %}
        </section>

        <!-- Footer -->
        <footer id="layout-footer">
            {% partial 'site/footer' %}
        </footer>

    </body>
</html>