.field-pagefinder {
    .pagefinder-control-container {
        border-radius: 4px;
        border: 1px solid var(--bs-border-color);
        background: var(--oc-form-control-bg);
    }

    .pagefinder-control-toolbar {
        padding: 3px;
        font-size: 0;
        white-space: nowrap;

        .backend-toolbar-button {
            &.populated-only {
                display: none;
            }
        }
    }

    .pagefinder-record-container {
        position: relative;
    }
}

.field-pagefinder {
    .record-item {
        position: relative;
        outline: none;
        display: block;
        margin: 4px;

        .record-data-container {
            padding: 4px 3px 3px;
        }

        .record-data-container-inner {
            position: relative;
        }

        .icon-container, .info, .info h4, .info h4 p {
            vertical-align: top;
            display: inline-block;
        }

        .icon-container {
            width: 20px;
            height: 20px;
            position: absolute;
            margin-top: 1px;

            i {
                position: relative;
                top: 2px;
                left: 3px;
            }
        }

        .info {
            padding-left: 26px;
        }

        .recordname, .description {
            color: var(--bs-body-color);
            font-size: 14px;
            word-break: break-all;
            margin-bottom: 0;
        }

        .description {
            font-size: .9rem;
            color: var(--bs-secondary-color);
        }
    }
}