.widget-welcome .welcome-container {
    margin-top: -15px;
    overflow: hidden; /* clearfix */
}

.widget-welcome .welcome-message {
    margin-left: 220px;
    color: #7e8c8d;
    margin-top: 15px;
}
.widget-welcome .welcome-message strong {
    color: #666;
}

.widget-welcome .welcome-logo {
    background: #f9f9f9;
    width: 200px;
    padding: 15px;
    float: left;
}

.widget-welcome .welcome-logo .oc-logo {
    height: 80px;
}

@media (max-width: 468px) {
    .widget-welcome .welcome-logo {
        float: none;
    }
    .widget-welcome .welcome-message {
        margin-left: 0;
    }
}
