<div class="blog-post-comment-form">
    <h3 class="mb-4">Tell us what you think!</h3>

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="commentNameInput">
                    <label for="commentNameInput">Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="commentEmailInput">
                    <label for="commentEmailInput">Email address</label>
                </div>
            </div>
        </div>
        <div class="mb-3 form-floating">
            <textarea style="height:125px" class="form-control" id="commentContentTextarea"></textarea>
            <label for="commentContentTextarea">Comment</label>
        </div>
        <div class="form-buttons d-flex pt-2">
            <div>
                <button type="submit" class="btn btn-primary btn-pill">Submit</button>
            </div>
            <p class="text-muted ms-3 mt-1">
                <small>You are replying to Mary Williams. You can <a href="#">post a new comment instead</a>.</small>
            </p>
        </div>
    </form>
</div>
