<article class="blog-post">
    <h2 class="blog-post-title mb-3">{{ post.title }}</h2>

    {% if blog.banner %}
        <div class="blog-post-banner">
            <img src="{{ blog.banner.path }}" alt="{{ blog.title }}" class="img-fluid mb-3" role="img" />
        </div>
    {% endif %}

    <div class="blog-post-featured-text">
        {% if blog.is_featured %}
            <p class="lead">{{ blog.featured_text }}</p>
        {% endif %}
    </div>

    <p class="blog-post-meta">
        {{ post.published_at_date|date('F j, Y') }}
        {% if post.author %}
            by <a href="{{ 'blog/author'|page({ slug: post.author.slug }) }}">{{ post.author.title }}</a>
        {% endif %}
    </p>

    {% if post.entry_type == 'markdown_post' %}
        {{ post.content|md }}
    {% else %}
        {{ post.content|raw }}
    {% endif %}
</article>
