.pika-single {
  border-color: #5fb6f5;
  border-radius: 2px;
  font-size: 12px;
  margin-top: 5px;
}
.pika-single.is-bound {
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}
.pika-single abbr {
  border-bottom: none;
}
.pika-single .pika-button {
  border-radius: 0!important;
}
.pika-single .is-today .pika-button {
  background: #ddd;
  font-weight: bold;
  color: #34495e;
}
.pika-single .is-selected .pika-button {
  box-shadow: none;
  background: #e67e22;
}
.pika-single .pika-button:hover {
  background: #5fb6f5 !important;
}
.pika-single .pika-label {
  font-weight: normal;
}
.pika-single .pika-table th {
  text-transform: uppercase;
}
.pika-single .pika-footer .pika-label {
  font-size: 12px;
}
.clockpicker-popover {
    z-index: 9999;
}