<!DOCTYPE html>
<html lang="<?= App::getLocale() ?>" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="robots" content="noindex">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="backend-base-path" content="<?= Backend::baseUrl() ?>">
        <meta name="csrf-token" content="<?= csrf_token() ?>">
        <link rel="icon" type="image/png" href="<?= Backend::skinAsset('assets/images/favicon.png') ?>">
        <title><?= e(trans('backend::lang.auth.title')) ?></title>
        <link href="<?= Url::asset('modules/system/assets/ui/storm.css') ?>" rel="stylesheet">
        <link href="<?= Url::to('modules/backend/assets/css/october.css') ?>" rel="stylesheet">
        <script data-cfasync="false" src="<?= Url::to('modules/backend/assets/js/vendor/jquery.min.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::to('modules/backend/assets/js/vendor/jquery-migrate.min.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::to('modules/system/assets/js/framework.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::asset('modules/system/assets/ui/storm-min.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::to('modules/backend/assets/js/october-min.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::to('modules/backend/assets/js/auth/auth.js') ?>"></script>
        <script data-cfasync="false" src="<?= Url::asset('modules/system/assets/js/lang/lang.'.App::getLocale().'.js') ?>"></script>
        <?= $this->makeAssets() ?>
        <?= Block::placeholder('head') ?>
        <?= $this->makeLayoutPartial('custom_styles') ?>
    </head>
    <body class="outer <?= $this->bodyClass ?>">
        <div id="layout-canvas">
            <div class="layout">

                <div class="layout-row min-size layout-head">
                    <div class="layout-cell">
                        <h1 class="oc-logo"><?= e(Backend\Models\BrandSetting::get('app_name')) ?></h1>
                    </div>
                </div>
                <div class="layout-row">
                    <div class="layout-cell">
                        <div class="outer-form-container">
                            <?= Block::placeholder('body') ?>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Flash Messages -->
        <div id="layout-flash-messages"><?= $this->makeLayoutPartial('flash_messages') ?></div>

    </body>
</html>
