<!DOCTYPE html>
<html lang="<?= App::getLocale() ?>" class="no-js <?= $this->makeLayoutPartial('browser_detector') ?>">
    <head>
        <?= $this->makeLayoutPartial('head') ?>
    </head>
    <body class="<?= $this->bodyClass ?>">
        <div id="layout-canvas">
            <div class="flex-layout-column full-height">

                <!-- Main Menu -->
                <div class="flex-layout-item fix">
                    <?= $this->makeLayoutPartial('mainmenu') ?>
                </div>

                <?php $flyoutContent = Block::placeholder('sidepanel-flyout') ?>

                <div class="flex-layout-item stretch flex-layout-row flyout-container"
                        <?php if ($flyoutContent): ?>
                            data-control="flyout"
                            data-flyout-width="400"
                            data-flyout-toggle="#layout-sidenav"
                        <?php endif ?>
                >
                        <?php if ($flyoutContent): ?>
                            <div class="flex-layout-item flex-layout-row fix flyout"> <?= $flyoutContent ?></div>
                        <?php endif ?>

                        <!-- Side Navigation -->
                        <?= $this->makeLayoutPartial('sidenav') ?>

                        <!-- Side panel -->
                        <?php if ($sidePanelContent = Block::placeholder('sidepanel')): ?>
                            <div class="flex-layout-item flex-layout-row width-300 hide-on-small" id="layout-side-panel" data-control="layout-sidepanel">
                                <?= $sidePanelContent ?>
                            </div>
                        <?php endif ?>

                        <!-- Content Body -->
                        <div class="flex-layout-item flex-layout-row layout-body-container relative stretch-constrain" id="layout-body">
                                <?php if ($breadcrumbContent = Block::placeholder('breadcrumb')): ?>
                                    <!-- Breadcrumb -->
                                    <div class="control-breadcrumb flex-layout-item fix">
                                        <?= $breadcrumbContent ?>
                                    </div>
                                <?php endif ?>

                                <!-- Content -->
                                <div class="flex-layout-item flex-layout-column stretch">
                                    <?= Block::placeholder('body') ?>
                                </div>
                        </div>

                </div>

            </div>
        </div>

        <!-- Flash Messages -->
        <div id="layout-flash-messages"><?= $this->makeLayoutPartial('flash_messages') ?></div>

    </body>
</html>