<div class="layout responsive-sidebar">
    <div class="layout-cell">

        <div class="layout">
            <!-- Breadcrumb -->
            <?php if ($breadcrumbContent = Block::placeholder('breadcrumb')): ?>
                <div class="control-breadcrumb breadcrumb-flush">
                    <?= $breadcrumbContent ?>
                </div>
            <?php endif ?>

            <div class="layout-row">
                <div class="padded-container layout">
                    <?= Block::placeholder('form-contents') ?>
                </div>
            </div>
        </div>

    </div>
    <div class="layout-cell width-300 form-sidebar control-scrollpanel">
        <div class="layout-relative">
            <div class="layout-absolute">
                <div class="control-scrollbar" data-control="scrollbar">
                    <div class="padded-container">
                        <?= Block::placeholder('form-sidebar') ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
