<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>{{ block.title }}</h2>
                <p>{{ block.tag_line|nl2br }}</p>
            </div>
            <div class="col-md-5">
                <img
                    src="{{ 'assets/images/cms-template-diagram.png'|theme }}"
                    srcset="{{ 'assets/images/cms-template-diagram.png'|theme }}, {{ 'assets/images/cms-template-diagram@2x.png'|theme }} 2x"
                    alt="CMS template diagram"
                >
            </div>
        </div>
    </div>
</div>
