<!-- Switch -->
<div class="field-switch">
    <label><?= e(trans($field->label)) ?></label>
    <?php if ($field->comment): ?>
        <p class="help-block"><?= e(trans($field->comment)) ?></p>
    <?php endif ?>
</div>

<input
    type="hidden"
    name="<?= $field->getName() ?>"
    value="0"
    <?= $this->previewMode ? 'disabled="disabled"' : '' ?>>

<label class="custom-switch" <?= $this->previewMode ? 'onclick="return false"' : '' ?>>
    <input
        type="checkbox"
        id="<?= $field->getId() ?>"
        name="<?= $field->getName() ?>"
        value="1"
        <?= $this->previewMode ? 'readonly="readonly"' : '' ?>
        <?= $field->value == 1 ? 'checked="checked"' : '' ?>
        <?= $field->getAttributes() ?>>
    <span><span><?= e(trans('backend::lang.form.field_on')) ?></span><span><?= e(trans('backend::lang.form.field_off')) ?></span></span>
    <a class="slide-button"></a>
</label>