<!-- Textarea -->
<?php if ($this->previewMode): ?>
    <div class="form-control"><?= nl2br(e($field->value)) ?></div>
<?php else: ?>
    <textarea
        name="<?= $field->getName() ?>"
        id="<?= $field->getId() ?>"
        autocomplete="off"
        class="form-control field-textarea <?= $field->stretch ? 'layout-relative stretch' : '' ?> <?= $field->grow ? 'grow' : '' ?> size-<?= $field->size ?>"
        <?= $field->getAttributes() ?>><?= e($field->value) ?></textarea>
<?php endif?>

<script>
$(function() {
    /* Grow */
    $('textarea#<?= $field->getId() ?>.grow').each(function() {
        this.setAttribute('style', 'height:' + (this.scrollHeight) + 'px;overflow-y:hidden;');
    }).on('input', function() {
        this.style.height = 'auto';
        this.style.height = (this.scrollHeight) + 'px';
    });
	
    /* Stretch */
    var $textareaHeight = $('textarea#<?= $field->getId() ?>.stretch').closest('.textarea-field').height(),
        $textareaParentHeight = $('textarea#<?= $field->getId() ?>.stretch').parent().parent().height(),
        $textareaParentContainer = $('textarea#<?= $field->getId() ?>.stretch').closest('.stretch-parent').height();

    // Only run if not empty
    if (($textareaParentContainer || $textareaParentContainer === 0) && ($textareaParentHeight || $textareaParentHeight === 0) && ($textareaHeight || $textareaHeight === 0)) {
        $stretchHeight = ($textareaParentContainer - 30) - ($textareaParentHeight - $textareaHeight);
    }
    if (typeof $stretchHeight !== 'undefined') {
        $('textarea#<?= $field->getId() ?>.stretch').css('height', $stretchHeight + 'px');
    }
});
</script>
