<?php
    $fieldOptions = $field->options();
?>
<!-- Balloon selector -->
<div
    data-control="balloon-selector"
    id="<?= $field->getId() ?>"
    class="control-balloon-selector"
    <?= $field->getAttributes() ?>>
    <ul>
        <?php foreach ($fieldOptions as $value => $text): ?>
            <li data-value="<?= e($value) ?>" class="<?= $value == $field->value ? 'active' : '' ?>"><?= e(trans($text)) ?></li>
        <?php endforeach ?>
    </ul>

    <input type="hidden" name="<?= $field->getName() ?>" value="<?= e($field->value) ?>"/>
</div>