<?php
    // @todo Should use config instead
    $isStretch = ($type=='secondary');
?>
<div class="<?= $isStretch?'layout-row min-size':'' ?>">
    <ul class="nav nav-tabs">
        <?php $index = 0; foreach ($tabs as $name => $fields): ?>
            <li class="<?= $index++==0?'active':''?>"><a href="#<?= $type.'tab-'.$index ?>"><?= e(trans($name)) ?></a></li>
        <?php endforeach ?>
    </ul>
</div>

<div class="tab-content <?= $isStretch?'layout-row ':'' ?>">
    <?php $index = 0; foreach ($tabs as $name => $fields): ?>
        <div
            class="tab-pane <?= $index++==0?'active':''?> <?= $isStretch?'layout-cell':'' ?>"
            id="<?= $type.'tab-'.$index ?>">
            <?= $this->makePartial('form_fields', ['fields' => $fields]) ?>
        </div>
    <?php endforeach ?>
</div>
