<!-- Sensitive -->
<div class="input-group">
    <input
        type="password"
        name="<?= $field->getName() ?>"
        id="<?= $field->getId() ?>"
        value="<?= e($field->value) ?>"
        placeholder="<?= e(trans($field->placeholder)) ?>"
        class="form-control"
        <?php if ($this->previewMode): ?>
        disabled="disabled"
        <?php endif ?>
        autocomplete="off"
        <?= $field->hasAttribute('maxlength') ? '' : 'maxlength="255"' ?>
        <?= $field->getAttributes() ?>
    />
    <span class="input-group-addon toggle-password" toggle="<?= $field->getId() ?>"><i class="icon-eye"></i></span>
</div>