.plugin-details-content {
  padding: 0 0;
}
.plugin-details-content > *:first-child {
  margin-top: 0;
}
.plugin-details-content h1 {
  font-size: 28px;
}
.plugin-details-content h2 {
  font-size: 24px;
}
.plugin-details-content h3 {
  font-size: 20px;
}
.plugin-details-content h4 {
  font-size: 17px;
}
.plugin-details-content h1,
.plugin-details-content h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.plugin-details-content ul,
.plugin-details-content ol {
  padding-left: 20px;
}
.plugin-details-content pre {
  display: block;
  border: none;
  padding: 10px 10px 10px 20px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: #fff;
  background-color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
.plugin-details-content pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.plugin-details-content ul pre,
.plugin-details-content ol pre {
  margin-left: -40px;
  padding-left: 40px;
}
