.plugin-details-content {
  padding: 0 0;
}
.plugin-details-content > *:first-child {
  margin-top: 0;
}
.plugin-details-content h1 {
  font-size: 31px;
}
.plugin-details-content h2 {
  font-size: 26px;
}
.plugin-details-content h3 {
  font-size: 22px;
}
.plugin-details-content h4 {
  font-size: 18px;
}
.plugin-details-content h1,
.plugin-details-content h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.plugin-details-content ul,
.plugin-details-content ol {
  padding-left: 25px;
}
.plugin-details-content pre {
  display: block;
  border: none;
  padding: 10px 10px 10px 25px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  color: #fff;
  background-color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -25px;
  margin-right: -25px;
}
.plugin-details-content pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
.plugin-details-content ul pre,
.plugin-details-content ol pre {
  margin-left: -50px;
  padding-left: 50px;
}
.plugin-details-content table th {
    font-weight: bold
}
.plugin-details-content table th,
.plugin-details-content table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}
.plugin-details-content table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}
.plugin-details-content table tr:nth-child(2n) {
    background-color: #f8f8f8
}