.control-updatelist {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
.control-updatelist h5 {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 10px;
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}
.control-updatelist h5:first-of-type {
  border-top: none;
}
.control-updatelist h5 i {
  margin-right: 7px;
  color: #405261;
}
.control-updatelist h5 small {
  text-transform: none;
  float: right;
  line-height: 13px;
  margin-right: 5px;
}
.control-updatelist dl {
  padding: 10px;
  margin-bottom: 0;
  font-size: 12px;
}
.control-updatelist dl:before,
.control-updatelist dl:after {
  content: " ";
  display: table;
}
.control-updatelist dl:after {
  clear: both;
}
.control-updatelist dl dt,
.control-updatelist dl dd {
  float: left;
  padding: 5px 0;
}
.control-updatelist dl dt {
  width: 15%;
}
.control-updatelist dl dd {
  width: 85%;
}
