##
url = "/blog/category/:slug"
layout = "blog"
title = "Display a Blog Category"
meta_title = "{{ category.title }} - Blog"

[collection category]
handle = "blogCategories"
entrySlug = "{{ :slug }}"

[section blog]

[collection blogCategories]

[resources]
vars[activeNavLink] = "tailor"
vars[activeBlogCategory] = "{{ :slug }}"
==
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Categories</h4>
            <ul>
                {% set selectedCategory = category.slug %}
                {% for category in blogCategories %}
                    <li>
                        <a href="{{ 'blog/category'|page({ slug: category.slug }) }}">
                            {{ category.title }}
                            {{ category.slug == selectedCategory ? '[SELECTED]' }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-9">
            <div class="blog-featured row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 pb-5">
                {% for post in blog %}
                    {% partial 'blog/post-card' post=post %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
