##
url = "/blog/post/:slug"
layout = "blog"
title = "Display a Blog Post"
meta_title = "{{ blog.title }} - Blog"

[section blog]
handle = "Blog"
entrySlug = "{{ :slug }}"

[collection blogCategories]
handle = "Blog\Categories"

[resources]
vars[activeNavLink] = 'tailor'
==
{% if blog is empty %}
    {% do abort(404) %}
{% endif %}

{% set post = blog %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="blog-post-summary">
                {% if post.categories %}
                    <h6>
                        {% for category in post.categories %}
                            {{ category.title }}
                            {% if not loop.last %}&bull;{% endif %}
                        {% endfor %}
                    </h6>
                {% endif %}
                {% if post.author %}
                    <p>by <a href="{{ 'blog/author'|page({ slug: post.author.slug }) }}">{{ post.author.title }}</a></p>
                {% endif %}
                <p class="text-muted">
                    {{ post.published_at_date|date('j M Y') }}
                </p>
            </div>
        </div>

        <div class="col-md-10 col-xl-8">
            {% partial 'blog/post-article' post=post %}
        </div>
        <div class="col-xl-2 d-none d-xl-block">
            {# Whitespace / Latest Posts #}
        </div>
    </div>
</div>
