<div class="panel no-padding padding-top">
    <input type="hidden" data-type="current-folder" value="<?= e($currentFolder) ?>"/>
    <input type="hidden" data-type="search-mode" value="<?= $searchMode ? 'true' : 'false' ?>"/>
    <div class="list-container">
        <?php if (count($items) == 0 && $isRootFolder && !$searchMode): ?>
            <div class="empty-library"><?= e(trans('cms::lang.media.empty_library')) ?></div>
        <?php endif ?>

        <?php if ($viewMode == Cms\Widgets\MediaManager::VIEW_MODE_GRID): ?>
            <?= $this->makePartial('list-grid') ?>
        <?php elseif ($viewMode == Cms\Widgets\MediaManager::VIEW_MODE_LIST): ?>
            <?= $this->makePartial('list-list') ?>
        <?php else: ?>
            <?= $this->makePartial('list-tiles') ?>
        <?php endif ?>
    </div>
</div>