<div class="sidebar-group">
    <h3 class="section"><?= e(trans('backend::lang.media.selections')) ?></h3>

    <?php if ($this->maxItems !== -1): ?>
        <script type="text/template" data-control="max-selected-items-template">
            <div class="progress m-b-0">
                <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="{selectedItems}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: {percent}%;">
                </div>
            </div>
            <div class="text-center">
                <span class="text-muted">
                    {selectedItems} / {maxItems} <?= e(trans('backend::lang.media.items_selected')); ?>
                </span>
            </div>
        </script>
        <div data-control="max-selected-items"></div>
    <?php else: ?>
        <script type="text/template" data-control="max-selected-items-template">
            <div class="text-left">
                <span class="text-muted">
                    {selectedItems} <?= e(trans('backend::lang.media.items_selected')); ?>
                </span>
            </div>
        </script>
        <div data-control="max-selected-items"></div>
    <?php endif; ?>
</div>
