<?php
    $sortModes = [
        Cms\Classes\MediaLibrary::SORT_BY_TITLE => trans('cms::lang.media.title'),
        Cms\Classes\MediaLibrary::SORT_BY_SIZE => trans('cms::lang.media.size'),
        Cms\Classes\MediaLibrary::SORT_BY_MODIFIED => trans('cms::lang.media.last_modified')
    ];

    $sortDirections = [
        Cms\Classes\MediaLibrary::SORT_DIRECTION_ASC => trans('cms::lang.media.direction_asc'),
        Cms\Classes\MediaLibrary::SORT_DIRECTION_DESC => trans('cms::lang.media.direction_desc')
    ];
?>

<div class="sidebar-group">
    <h3 class="section"><?= e(trans('cms::lang.media.order_by')) ?></h3>

    <select
        name="sorting"
        class="form-control custom-select select-no-search"
        data-control="sorting"
        data-sort="by">
        <?php foreach ($sortModes as $code=>$title): ?>
            <option
                <?= $code == $sortBy ? 'selected="selected"' : '' ?>
                value="<?= $code ?>"
            ><?= e($title) ?></option>
        <?php endforeach ?>
    </select>
</div>

<div class="sidebar-group">
    <h3 class="section"><?= e(trans('cms::lang.media.direction')) ?></h3>

    <select
        name="sorting"
        class="form-control custom-select select-no-search"
        data-control="sorting"
        data-sort="direction">
        <?php foreach ($sortDirections as $code=>$title): ?>
            <option
                <?= $code == $sortDirection ? 'selected="selected"' : '' ?>
                value="<?= $code ?>"
            ><?= e($title) ?></option>
        <?php endforeach ?>
    </select>
</div>
