<?= Form::open() ?>
    <div data-request-data="_relation_field: '<?= $relationField ?>'">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="popup">&times;</button>
            <h4 class="modal-title"><?= e(trans('backend::lang.relation.add_a_new', ['name'=>$relationLabel])) ?></h4>
        </div>

        <div class="list-flush">
            <?php if ($relationSearchWidget): ?>
                <?= $relationSearchWidget->render() ?>
            <?php endif ?>
            <?= $relationManageWidget->render() ?>
        </div>

        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-primary"
                data-request="onRelationManageAdd"
                data-dismiss="popup"
                data-stripe-load-indicator>
                <?= e(trans('backend::lang.relation.add_selected')) ?>
            </button>
            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('backend::lang.relation.cancel')) ?>
            </button>
        </div>
    </div>
<?= Form::close() ?>