:root {
    --oc-updatelist-border-color: var(--bs-border-color);
    --oc-updatelist-header-color: var(--bs-heading-color);
    --oc-updatelist-header-bg: var(--bs-tertiary-bg);
    --oc-updatelist-color: var(--bs-body-color);
    --oc-updatelist-label-color: var(--oc-primary-color);
}

.important-update-label {
    margin: 7px 0;
}

.control-updatelist {
    margin-bottom: 20px;
    border: 1px solid var(--oc-updatelist-border-color);
    border-radius: 4px;

    .update-item {
        border-bottom: 1px solid var(--oc-updatelist-border-color);

        .item-header {
            color: var(--oc-updatelist-header-color);
            background-color: var(--oc-updatelist-header-bg);
            border-bottom: 1px solid var(--oc-updatelist-border-color);
            padding: 0 10px;

            h5 {
                margin: 0;
                padding: 15px 0;
                text-transform: uppercase;
                font-size: 13px;

                i {
                    margin-right: 7px;
                    color: var(--oc-updatelist-header-color);
                }

                small {
                    text-transform: none;
                    float: right;
                    line-height: 13px;
                    margin-right: 5px;
                }
            }

            .important-update {
                padding: 7px 0 0 0;
                float: right;
                width: 200px;
            }
        }

        dl {
            padding: 10px;
            margin-bottom: 0;

            &::before, &::after {
                display: table;
                content: " ";
            }
            &::after {
                clear: both;
            }

            dt, dd {
                float: left;
                padding: 5px 0;
                line-height: 20px;
                &.text-muted {
                    color: var(--bs-secondary-color) !important;
                }
            }

            dt {
                width: 15%;
                clear: left;
                font-size: 14px;
                font-weight: 400;
                color: var(--oc-updatelist-label-color);
            }
            dd {
                width: 85%;
                font-size: 13px;
                color: var(--oc-updatelist-color);
            }

            .important-update-label {
                position: relative;
                top: -1px;
                background-color: #ab2a1c;
                color: #fff;
                display: inline-block;
                padding: .2em .6em .3em;
                font-size: 75%;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: .25em;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &.item-danger {
            .item-header {
                background-color: #f2dede;
                h5, i, & { color: #a94442; }
            }
        }

        &.item-success {
            .item-header {
                background-color: #dff0d8;
                h5, i, & { color: #3c763d; }
            }
        }

        &.item-muted {
            border-bottom: none;

            .item-header {
                h5, i, & { color: rgba(0,0,0,.35); }
            }
            dl {
                display: none;
            }
        }

    }

}
