.field-markdowneditor {
  width: 100%;
  position: relative;
  border: 1px solid #e0e0e0;
  background: #fff;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 5px;
}
.field-markdowneditor textarea {
  opacity: 0;
  filter: alpha(opacity=0);
}
.field-markdowneditor .editor-toolbar {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.field-markdowneditor.editor-focus {
  border: 1px solid #808c8d;
}
.field-markdowneditor.size-tiny .editor-write,
.field-markdowneditor.size-tiny .editor-preview {
  height: 50px;
}
.field-markdowneditor.size-small .editor-write,
.field-markdowneditor.size-small .editor-preview {
  height: 100px;
}
.field-markdowneditor.size-large .editor-write,
.field-markdowneditor.size-large .editor-preview {
  height: 200px;
}
.field-markdowneditor.size-huge .editor-write,
.field-markdowneditor.size-huge .editor-preview {
  height: 250px;
}
.field-markdowneditor.size-giant .editor-write,
.field-markdowneditor.size-giant .editor-preview {
  height: 350px;
}
.field-markdowneditor .editor-write {
  position: relative;
  margin: 15px;
}
.field-markdowneditor .editor-preview {
  padding: 15px;
}
.field-markdowneditor.mode-tab .editor-preview {
  overflow: auto;
  display: none;
}
.field-markdowneditor.mode-tab.is-preview .editor-write {
  display: none;
}
.field-markdowneditor.mode-tab.is-preview .editor-preview {
  display: block;
}
