<div class="loading-indicator-container size-small pull-right">
    <div class="control-pagination">
        <span class="page-iteration"><?= $pageFrom ?>-<?= $pageTo ?> of <?= $recordTotal ?></span>
        <?php if ($pageCurrent > 1): ?>
            <a
                href="javascript:;"
                class="page-back"
                data-request="<?= $this->getEventHandler('onPaginate') ?>"
                data-request-data="page: <?= $pageCurrent-1 ?>"
                data-load-indicator="Loading..."
                title="Previous page"></a>
        <?php else: ?>
            <span class="page-back"></span>
        <?php endif ?>
        <?php if ($pageLast > $pageCurrent): ?>
        <a
            href="javascript:;"
            class="page-next"
            data-request-data="page: <?= $pageCurrent+1 ?>"
            data-request="<?= $this->getEventHandler('onPaginate') ?>"
            data-load-indicator="Loading..."
            title="Next page"></a>
        <?php else: ?>
            <span class="page-next"></span>
        <?php endif ?>
    </div>
</div>