<?php
    if ($showTree) {
        $expanded = $this->isTreeNodeExpanded($record);
        $childRecords = $record->getChildren();
    }
    $url = $this->getRecordUrl($record);
    $onclick = $this->getRecordOnClick($record);
?>
<tr class="list-tree-level-<?= $treeLevel ?> <?= $this->getRowClass($record) ?>"
    <?= $url ? 'data-link="' . $url . '"' : '' ?>
    <?= $onclick ? 'data-onclick="' . $onclick . '"' : '' ?>>
    <?php if ($showCheckboxes): ?>
        <?= $this->makePartial('list_body_checkbox', ['record' => $record]) ?>
    <?php endif ?>

    <?php if ($showTree): ?>
        <?= $this->makePartial('list_body_tree', [
            'record' => $record,
            'expanded' => $expanded,
            'childCount' => $record->getChildCount()
        ]) ?>
    <?php endif ?>

    <?php $index = 0; foreach ($columns as $key => $column): ?>
        <?php $index++; ?>
        <td data-title="<?= e(trans($column->label)) ?>" class="list-cell-index-<?= $index ?> list-cell-name-<?= $column->getName() ?> list-cell-type-<?= $column->type ?> <?= $column->cssClass ?>">
            <?= $this->getColumnValue($record, $column) ?>
        </td>
    <?php endforeach ?>

    <?php if ($showSetup): ?>
        <td class="list-setup">&nbsp;</td>
    <?php endif ?>
</tr>

<?php if ($showTree && $expanded): ?>
    <?= $this->makePartial('list_body_rows', ['records' => $childRecords, 'treeLevel' => $treeLevel+1]) ?>
<?php endif ?>
