.control-assetlist p.no-data {
  padding: 18px;
  margin: 0;
  color: #666666;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.control-assetlist p.parent,
.control-assetlist ul li {
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 0;
}
.control-assetlist p.parent.active a,
.control-assetlist ul li.active a {
  background: #dddddd;
  position: relative;
}
.control-assetlist p.parent.active a:after,
.control-assetlist ul li.active a:after {
  position: absolute;
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
  background: #e67e22;
  display: block;
  content: ' ';
}
.control-assetlist p.parent a.link,
.control-assetlist ul li a.link {
  display: block;
  position: relative;
  word-wrap: break-word;
  padding: 10px 50px 10px 20px;
  outline: none;
  font-weight: 500;
  color: #405261;
  font-size: 12px;
}
.control-assetlist p.parent a.link:hover,
.control-assetlist ul li a.link:hover,
.control-assetlist p.parent a.link:focus,
.control-assetlist ul li a.link:focus,
.control-assetlist p.parent a.link:active,
.control-assetlist ul li a.link:active {
  text-decoration: none;
}
.control-assetlist p.parent a.link span,
.control-assetlist ul li a.link span {
  display: block;
}
.control-assetlist p.parent a.link span.description,
.control-assetlist ul li a.link span.description {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: 500;
  word-wrap: break-word;
}
.control-assetlist p.parent a.link span.description strong,
.control-assetlist ul li a.link span.description strong {
  color: #405261;
  font-weight: 500;
}
.control-assetlist p.parent.directory a.link,
.control-assetlist ul li.directory a.link,
.control-assetlist p.parent.parent a.link,
.control-assetlist ul li.parent a.link {
  padding-left: 40px;
}
.control-assetlist p.parent.directory a.link:after,
.control-assetlist ul li.directory a.link:after,
.control-assetlist p.parent.parent a.link:after,
.control-assetlist ul li.parent a.link:after {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10px;
  left: 20px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f07b";
  color: #a1aab1;
  font-size: 14px;
}
.control-assetlist p.parent.parent a.link,
.control-assetlist ul li.parent a.link {
  padding-left: 41px;
  background-color: #ffffff;
  word-wrap: break-word;
}
.control-assetlist p.parent.parent a.link:after,
.control-assetlist ul li.parent a.link:after {
  font-size: 13px;
  color: #34495e;
  width: 18px;
  height: 18px;
  top: 11px;
  left: 22px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f053";
}
.control-assetlist p.parent a.link:hover {
  background: #dddddd !important;
}
.control-assetlist p.parent a.link:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.control-assetlist ul {
  padding: 0;
  margin: 0;
}
.control-assetlist ul li {
  font-weight: 300;
  line-height: 150%;
  position: relative;
  list-style: none;
}
.control-assetlist ul li.active a.link,
.control-assetlist ul li a.link:hover {
  background: #dddddd;
}
.control-assetlist ul li.active a.link {
  position: relative;
}
.control-assetlist ul li.active a.link:after {
  position: absolute;
  height: 100%;
  width: 4px;
  left: 0;
  top: 0;
  background: #e67e22;
  display: block;
  content: ' ';
}
.control-assetlist ul li div.controls {
  position: absolute;
  right: 45px;
  top: 10px;
}
.control-assetlist ul li div.controls .dropdown {
  width: 14px;
  height: 21px;
}
.control-assetlist ul li div.controls .dropdown.open a.control {
  display: block!important;
}
.control-assetlist ul li div.controls .dropdown.open a.control:before {
  visibility: visible;
  display: block;
}
.control-assetlist ul li div.controls a.control {
  color: #405261;
  font-size: 14px;
  visibility: hidden;
  overflow: hidden;
  width: 14px;
  height: 21px;
  display: none;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.control-assetlist ul li div.controls a.control:before {
  visibility: visible;
  display: block;
  margin-right: 0;
}
.control-assetlist ul li div.controls a.control:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.control-assetlist ul li:hover {
  background: #dddddd;
}
.control-assetlist ul li:hover div.controls,
.control-assetlist ul li:hover a.control {
  display: block!important;
}
.control-assetlist ul li:hover div.controls > a.control,
.control-assetlist ul li:hover a.control > a.control {
  display: block!important;
}
.control-assetlist ul li .checkbox {
  position: absolute;
  top: 13px;
  right: 17px;
}
.control-assetlist ul li .checkbox label {
  margin-right: 0;
}
.control-assetlist ul li .checkbox label:before {
  border-color: #cccccc;
}
.control-assetlist div.list-container {
  position: relative;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.control-assetlist div.list-container.animate ul {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.control-assetlist div.list-container.goForward ul {
  -webkit-transform: translate(-300px, 0);
  -ms-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
}
.control-assetlist div.list-container.goBackward ul {
  -webkit-transform: translate(300px, 0);
  -ms-transform: translate(300px, 0);
  transform: translate(300px, 0);
}
input[type="file"].asset-list-upload-field {
  display: none;
}
