h3 {
  font-weight: normal;
}
h3.header-icon {
  position: relative;
  padding: 0 0 10px 43px;
}
h3.header-icon:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px!important;
  position: absolute;
  left: 0;
  top: -5px;
}
h3.header-icon.cms-layout:before {
  background: url('../images/icon-layouts.png') no-repeat 0 0;
}
h3.header-icon.cms-page:before {
  background: url('../images/icon-pages.png') no-repeat 0 0;
}
h3.header-icon.cms-partial:before {
  background: url('../images/icon-partials.png') no-repeat 0 0;
}
h3.header-icon.cms-content-block:before {
  background: url('../images/icon-contentblocks.png') no-repeat 0 0;
}
h3.header-icon.cms-asset:before {
  background: url('../images/icon-assets.png') no-repeat 0 0;
}
h3.header-icon.cms-placeholder:before {
  background: url('../images/icon-placeholders.png') no-repeat 0 0;
}
ul.list-with-ticks {
  padding: 0;
}
ul.list-with-ticks li {
  list-style: none;
  position: relative;
  padding-left: 23px;
}
ul.list-with-ticks li:before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url('../images/icon-tick.png') no-repeat 0 0;
  background-size: 15px 15px;
  position: absolute;
  left: 0;
  top: 6px;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.svg#latoblack') format('svg'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-italic-webfont.eot');
  src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg'), url('../fonts/lato-italic-webfont.woff') format('woff'), url('../fonts/lato-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.svg#latoregular') format('svg'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.svg#latolight') format('svg'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: sans-serif;
  }
}
.callout {
  margin-bottom: 27px;
  padding: 20px;
  border-left: 3px solid #eeeeee;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout-danger {
  background-color: #fdf7f7;
  border-color: #ebccd1;
}
.callout-danger h4 {
  color: #a94442;
}
.callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.callout-warning h4 {
  color: #8a6d3b;
}
.callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.callout-info h4 {
  color: #31708f;
}
.callout-success {
  background-color: #f9fdf7;
  border-color: #d6e9c6;
}
.callout-success h4 {
  color: #3c763d;
}
.t-ww {
  word-wrap: break-word;
  word-break: break-word;
}
.border-none {
  border: 0;
}
.pos-r {
  position: relative !important;
}
.pos-a {
  position: absolute !important;
}
.pos-f {
  position: fixed !important;
}
.w-sm {
  width: 25% !important;
}
.w-md {
  width: 50% !important;
}
.w-lg {
  width: 75% !important;
}
.w-full {
  width: 100% !important;
}
.w-50 {
  width: 50px !important;
}
.w-100 {
  width: 100px !important;
}
.w-120 {
  width: 120px !important;
}
.w-130 {
  width: 130px !important;
}
.w-140 {
  width: 140px !important;
}
.w-150 {
  width: 150px !important;
}
.w-200 {
  width: 200px !important;
}
.w-300 {
  width: 300px !important;
}
.w-350 {
  width: 350px !important;
}
.m-a-0 {
  margin: 0 !important;
}
.m-t-0 {
  margin-top: 0 !important;
}
.m-r-0 {
  margin-right: 0 !important;
}
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-l-0 {
  margin-left: 0 !important;
}
.m-a {
  margin: 20px !important;
}
.m-t {
  margin-top: 20px !important;
}
.m-r {
  margin-right: 20px !important;
}
.m-b {
  margin-bottom: 20px !important;
}
.m-l {
  margin-left: 20px !important;
}
.m-x {
  margin-right: 20px !important;
  margin-left: 20px !important;
}
.m-y {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.m-a-xs {
  margin: 5px !important;
}
.m-t-xs {
  margin-top: 5px !important;
}
.m-r-xs {
  margin-right: 5px !important;
}
.m-b-xs {
  margin-bottom: 5px !important;
}
.m-l-xs {
  margin-left: 5px !important;
}
.m-x-xs {
  margin-right: 5px !important;
  margin-left: 5px !important;
}
.m-y-xs {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-a-sm {
  margin: 10px !important;
}
.m-t-sm {
  margin-top: 10px !important;
}
.m-r-sm {
  margin-right: 10px !important;
}
.m-b-sm {
  margin-bottom: 10px !important;
}
.m-l-sm {
  margin-left: 10px !important;
}
.m-x-sm {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
.m-y-sm {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-a-md {
  margin: 30px !important;
}
.m-t-md {
  margin-top: 30px !important;
}
.m-r-md {
  margin-right: 30px !important;
}
.m-b-md {
  margin-bottom: 30px !important;
}
.m-l-md {
  margin-left: 30px !important;
}
.m-x-md {
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.m-y-md {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-a-lg {
  margin: 60px !important;
}
.m-t-lg {
  margin-top: 60px !important;
}
.m-r-lg {
  margin-right: 60px !important;
}
.m-b-lg {
  margin-bottom: 60px !important;
}
.m-l-lg {
  margin-left: 60px !important;
}
.m-x-lg {
  margin-right: 60px !important;
  margin-left: 60px !important;
}
.m-y-lg {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-a-0 {
  padding: 0 !important;
}
.p-t-0 {
  padding-top: 0 !important;
}
.p-r-0 {
  padding-right: 0 !important;
}
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-l-0 {
  padding-left: 0 !important;
}
.p-a {
  padding: 20px !important;
}
.p-t {
  padding-top: 20px !important;
}
.p-r {
  padding-right: 20px !important;
}
.p-b {
  padding-bottom: 20px !important;
}
.p-l {
  padding-left: 20px !important;
}
.p-x {
  padding-right: 20px !important;
  padding-left: 20px !important;
}
.p-y {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-a-xs {
  padding: 5px !important;
}
.p-t-xs {
  padding-top: 5px !important;
}
.p-r-xs {
  padding-right: 5px !important;
}
.p-b-xs {
  padding-bottom: 5px !important;
}
.p-l-xs {
  padding-left: 5px !important;
}
.p-x-xs {
  padding-right: 5px !important;
  padding-left: 5px !important;
}
.p-y-xs {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-a-sm {
  padding: 10px !important;
}
.p-t-sm {
  padding-top: 10px !important;
}
.p-r-sm {
  padding-right: 10px !important;
}
.p-b-sm {
  padding-bottom: 10px !important;
}
.p-l-sm {
  padding-left: 10px !important;
}
.p-x-sm {
  padding-right: 10px !important;
  padding-left: 10px !important;
}
.p-y-sm {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-a-md {
  padding: 30px !important;
}
.p-t-md {
  padding-top: 30px !important;
}
.p-r-md {
  padding-right: 30px !important;
}
.p-b-md {
  padding-bottom: 30px !important;
}
.p-l-md {
  padding-left: 30px !important;
}
.p-x-md {
  padding-right: 30px !important;
  padding-left: 30px !important;
}
.p-y-md {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-a-lg {
  padding: 60px !important;
}
.p-t-lg {
  padding-top: 60px !important;
}
.p-r-lg {
  padding-right: 60px !important;
}
.p-b-lg {
  padding-bottom: 60px !important;
}
.p-l-lg {
  padding-left: 60px !important;
}
.p-x-lg {
  padding-right: 60px !important;
  padding-left: 60px !important;
}
.p-y-lg {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.navbar-header .navbar-brand {
  margin: 13px 30px 0 0;
  width: 152px;
  height: 25px;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background: url('../images/logo.svg') no-repeat 0 50%;
}
.navbar-toggle {
  margin-right: 0;
}
.navbar-autohide {
  transition: transform .5s;
}
.navbar-autohide.is-hidden {
  transform: translateY(-72px);
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a {
  transition: color 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:after {
  position: absolute;
  height: 4px;
  bottom: 15px;
  content: '';
  border-radius: 4px;
  z-index: 5;
  width: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease 0.05s;
}
.navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a {
  background: transparent;
}
.navbar-inverse {
  border-bottom: none;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #ffffff;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: #ffffff;
}
.navbar-inverse .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #e67e22;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:after,
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #64ae5b;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li.active > a:hover:after {
  background: #64ae5b;
}
.navbar-default .navbar-collapse:not(.in):not(.collapsing) .navbar-nav li > a:hover:after {
  background: #93dc8a;
}
.jumbotron h1 {
  position: relative;
  padding-top: 66px;
}
.jumbotron h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  background-size: 46px 46px!important;
}
.jumbotron p {
  margin-top: 60px;
  font-weight: normal;
}
pre {
  padding: 0;
  background-color: white;
  border: 1px solid #ECF0F1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
pre .CodeMirror {
  height: auto;
  color: #2C3E4F;
}
pre .CodeMirror-gutters {
  background: transparent;
  border-right: 1px solid #ECF0F1;
}
pre .CodeMirror-linenumber {
  padding-right: 15px;
  background: white;
}
pre .CodeMirror-lines {
  padding: 10px 0;
}
pre .CodeMirror pre.CodeMirror-line {
  padding-left: 20px;
}
.collapsed-code-block {
  position: relative;
}
.collapsed-code-block .expand-code {
  display: none;
}
.collapsed-code-block.collapsed {
  margin-bottom: 36px;
}
.collapsed-code-block.collapsed > pre {
  height: 143px;
  overflow: hidden;
  position: relative;
}
.collapsed-code-block.collapsed .expand-code {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: -15px;
  left: 50%;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ECF0F1;
  z-index: 5;
  transform: translateX(-50%);
  padding: 4px 18px;
  -webkit-box-shadow: 0 0 0 3px white;
  box-shadow: 0 0 0 3px white;
}
.collapsed-code-block.collapsed .expand-code:hover {
  color: white;
  background-color: #7F8C8D;
}
.code-tab {
  display: inline-block;
  font-size: 14px;
  padding: 8px 0 0 13px;
  position: relative;
}
.code-tab,
.code-tab:after {
  height: 38px;
  background: url('../images/code-tab.png') no-repeat 0 0;
  background-size: 335px 38px;
}
.code-tab:after {
  content: '';
  width: 34px;
  display: block;
  position: absolute;
  right: -34px;
  top: 0;
  background-position: right top;
}
.code-tab + pre {
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.btn.btn-cta {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #6A6CF7;
}
#footer {
  padding: 30px 0;
  margin-top: 28px;
  background: #F4F8F8;
  position: relative;
}
#footer:before {
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  background: url('../images/footer-waves.svg') repeat-x 0 0;
  position: absolute;
  left: 0;
  top: -28px;
}
#footer p {
  font-size: 14px;
}
body {
  padding-top: 70px;
}
body.page-ajax {
  background: #FAFBFD;
}
body.page-ajax .jumbotron {
  position: relative;
  margin-bottom: 0;
}
body.page-ajax .jumbotron:before {
  content: '';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F7F8;
  display: block;
  position: absolute;
  z-index: 0;
  left: -600px;
  top: -600px;
  width: 1116px;
  height: 1116px;
}
body.page-ajax .jumbotron .container {
  position: relative;
  z-index: 1;
}
body.page-ajax .jumbotron h1:before {
  background: url('../images/calculator.png') no-repeat 0 0;
}
body.page-ajax .jumbotron p {
  margin-top: 20px;
}
@media (max-width: 1199px) {
  body.page-ajax .jumbotron p {
    margin-top: 0;
  }
}
body.page-ajax .panel {
  border: none;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}
@media (min-width: 992px) {
  body.page-ajax .panel .control-panel {
    padding-right: 0!important;
  }
}
body.page-ajax .panel-body {
  padding: 25px;
  display: table;
  width: 100%;
}
body.page-ajax .panel-body form {
  display: table-row;
}
body.page-ajax .panel-body form .form-group {
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
  white-space: nowrap;
}
body.page-ajax .panel-body form .form-group:last-child {
  padding-right: 0;
  width: 41px;
}
body.page-ajax .panel-body form .form-group:last-child button {
  width: 41px;
  height: 41px;
  background: #6A6CF7;
}
body.page-ajax .panel-body form .form-group.operation-buttons {
  width: 100px;
  text-align: center;
}
body.page-ajax .panel-body form .form-group.operation-buttons label {
  display: inline-block;
  cursor: pointer;
  width: 41px;
  height: 41px;
  line-height: 41px;
  position: relative;
  margin: 0 10px 0 0;
  vertical-align: top;
  text-align: center;
}
body.page-ajax .panel-body form .form-group.operation-buttons label:last-child {
  margin-right: 0;
}
body.page-ajax .panel-body form .form-group.operation-buttons label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #ECF0F1;
}
body.page-ajax .panel-body form .form-group.operation-buttons label input {
  display: none;
}
body.page-ajax .panel-body form .form-group.operation-buttons label input:checked + span {
  background-color: #6A6CF7;
  color: white;
}
@media (max-width: 767px) {
  body.page-ajax .panel-body form .form-group {
    display: block;
    padding-right: 0;
    width: 100%!important;
  }
  body.page-ajax .panel-body form .form-group:last-child button {
    width: 100%;
  }
}
body.page-ajax .panel-body input.form-control {
  display: block;
  width: 100%;
  background-color: #ECF0F1;
  font-size: 14px;
  text-align: right;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.page-ajax #result {
  background: #6A6CF7;
  color: white;
  font-size: 54px;
  padding: 0 15px;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.page-home .jumbotron {
  background: #FAFBFD;
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
body.page-home .jumbotron:before {
  content: '';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F7F8;
  display: block;
  position: absolute;
  z-index: 0;
  width: 1100px;
  height: 1100px;
  top: -460px;
  left: -490px;
}
body.page-home .jumbotron:after {
  content: '';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F7F8;
  display: block;
  position: absolute;
  z-index: 0;
  width: 270px;
  height: 270px;
  top: -120px;
  right: -130px;
}
body.page-home .jumbotron h1:before {
  background: url('../images/platform-demo.png') no-repeat 0 0;
}
body.page-home .jumbotron p {
  margin-top: 20px;
}
@media (max-width: 1199px) {
  body.page-home .jumbotron p {
    margin-top: 0;
  }
}
body.page-home .intro {
  background: #536061;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
body.page-home .intro .container {
  padding-top: 40px;
  padding-bottom: 50px;
}
body.page-home .intro:before {
  content: '';
  position: absolute;
  display: block;
  height: 28px;
  left: 0;
  width: 100%;
  top: -28px;
  background: url('../images/home-waves-dark.svg') repeat-x 0 0;
}
body.page-home .intro h2,
body.page-home .intro p {
  color: white;
}
body.page-home .intro h2 {
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 30px;
}
body.page-home .intro img {
  float: right;
  margin: -100px -20px 0 0;
}
@media (max-width: 991px) {
  body.page-home .intro .container {
    padding-top: 0;
    padding-bottom: 30px;
  }
  body.page-home .intro img {
    float: none;
    margin: 0 0 0 -20px;
    max-width: 100%;
  }
}
body.page-home .home-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  margin-bottom: -100px;
}
body.page-home .home-container:before {
  content: '';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F7F8;
  display: block;
  position: absolute;
  z-index: 0;
  background: #FAFBFB;
  right: -1290px;
  top: 100px;
  width: 2500px;
  height: 2500px;
}
body.page-plugins {
  background: #FAFBFD;
}
body.page-plugins .jumbotron {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 30px;
}
body.page-plugins .jumbotron:before {
  content: '';
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background-color: #F4F7F8;
  display: block;
  position: absolute;
  z-index: 0;
  left: -600px;
  top: -600px;
  width: 1116px;
  height: 1116px;
}
body.page-plugins .jumbotron .container {
  position: relative;
  z-index: 1;
}
body.page-plugins .jumbotron h1:before {
  background: url('../images/components.png') no-repeat 0 0;
}
body.page-plugins .jumbotron p {
  margin-top: 20px;
}
@media (max-width: 1199px) {
  body.page-plugins .jumbotron p {
    margin-top: 0;
  }
}
body.page-plugins .panel.panel-default {
  border: 2px solid #6A6CF7;
  overflow: hidden;
  margin-top: 40px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
}
body.page-plugins .panel.panel-default .panel-heading {
  background: transparent;
  padding: 15px;
}
body.page-plugins .panel.panel-default .panel-heading h3 {
  position: relative;
  padding-left: 32px;
}
body.page-plugins .panel.panel-default .panel-heading h3:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background: url('../images/icon-todo.png') no-repeat 0 0;
  background-size: 24px 24px!important;
}
body.page-plugins .panel.panel-default .panel-body {
  padding: 0;
}
body.page-plugins .panel.panel-default .panel-body input.form-control {
  border: none;
  padding-left: 17px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body.page-plugins .panel.panel-default .panel-body .input-group-btn {
  border-left: 1px solid #ddd;
}
body.page-plugins .panel.panel-default .panel-body button.btn.btn-primary {
  background: transparent;
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #586667;
  padding-left: 20px;
  padding-right: 20px;
}
body.page-plugins .panel.panel-default .list-group li {
  padding-left: 37px;
  position: relative;
}
body.page-plugins .panel.panel-default .list-group li button {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  position: absolute;
  left: 15px;
  top: 16px;
  width: 15px;
  height: 15px;
  opacity: 1;
  outline: none!important;
  border: 1px solid #BDC3C7;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
body.page-plugins .panel.panel-default .list-group li button:active,
body.page-plugins .panel.panel-default .list-group li buttonfocuus {
  background: url('../images/icon-tick.png') no-repeat 0 0;
  background-size: 15px 15px;
  border: none;
}
