.component-backend-richeditor {
    .fr-box.fr-basic .fr-element.fr-view {
        padding: 30px 40px;
        line-height: 150%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;

        /* Base editor styles */

        a {
            text-decoration: underline;
            color: var(--bs-link-color);
        }

        h1 {
            font-size: 34px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 26px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        h3 {
            font-size: 21px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 18px;
            font-weight: normal;
            margin: 20px 0;
        }

        h5 {
            font-size: 16px;
            font-weight: normal;
            color: #434343;
        }

        strong {
            font-weight: 700;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            padding: 5px 10px;
            border-radius: 4px;
        }

        code {
            background: #eee;
            padding: 0px 3px 2px;
            display: inline-block;
            border-radius: 4px;
        }

        blockquote {
            border-left: solid 2px #5e35b1;
            margin-left: 0;
            padding-left: 5px;
            color: #5e35b1;
            font-size: inherit;

            blockquote {
                border-color: #00bcd4;
                color: #00bcd4;

                blockquote {
                    border-color: #43a047;
                    color: #43a047;
                }
            }
        }

        table {
            border: none;
            border-collapse: collapse;
            empty-cells: show;
            max-width: 100%;
            margin-bottom: 10px;

            td,
            th {
                border: 1px solid #ddd;
                padding: 5px;

                &:empty {
                    height: 20px;
                }
            }

            th {
                background: #e6e6e6;
            }
        }

        hr {
            clear: both;
            user-select: none;
            page-break-after: always;
        }

        /* File attachment link */

        a.fr-file {
            position: relative;

            &:before {
                font-family: 'octo-icon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                text-decoration: none;
                display: inline-block;
                position: relative;
                vertical-align: middle;
                content: "\e92a";
            }

            &:after {
                display: none;
            }
        }
    }
}
