<div class="control-list">
    <table class="table data">
        <thead>
            <tr>
                <th class=""><a href="#"></a></th>
                <th class=""><a href="#">File name</a></th>
                <th class=""><a href="#">Path</a></th>
            </tr>
        </thead>
        <tbody>
            <?php if(!$relationUploads || count($relationUploads) < 1): ?>
                <tr class="no-data">
                    <td colspan="100" class="nolink">
                        <p class="no-data">
                            There are no records in this view.
                        </p>
                    </td>
                </tr>
            <?php endif ?>
            <?php for($i = 0; $i < $relationUploadsCount; $i++): ?>
                <tr>
                    <td class="list-checkbox nolink">
                        <div class="checkbox custom-checkbox nolabel">
                            <input id="relation_<?=$i?>" type="checkbox" name="relations[<?=$i?>][id]" value="<?= array_get($relationUploads[$i], 'id') ?>"/>
                            <label for="relation_<?=$i?>">Check</label>

                            <input type="hidden" name="relations[<?=$i?>][file_name]" value="<?= array_get($relationUploads[$i], 'file_name') ?>"
                            data-trigger-action="enable" data-trigger="#relation_<?=$i?>" data-trigger-condition="checked"/>
                            <input type="hidden" name="relations[<?=$i?>][disk_name]" value="<?= array_get($relationUploads[$i], 'disk_name') ?>"
                            data-trigger-action="enable" data-trigger="#relation_<?=$i?>" data-trigger-condition="checked"/>
                            <input type="hidden" name="relations[<?=$i?>][path]" value="<?= array_get($relationUploads[$i], 'path') ?>"
                            data-trigger-action="enable" data-trigger="#relation_<?=$i?>" data-trigger-condition="checked"/>
                            <input type="hidden" name="relations[<?=$i?>][file_type]" value="<?= array_get($relationUploads[$i], 'file_type') ?>"
                            data-trigger-action="enable" data-trigger="#relation_<?=$i?>" data-trigger-condition="checked"/>
                        </div>
                    </td>
                    <td><?= array_get($relationUploads[$i], 'file_name') ?></td>
                    <td><?= array_get($relationUploads[$i], 'path') ?></td>
                </tr>
            <?php endfor ?>
        </tbody>
    </table>
</div>
