<?= Form::open(['id' => 'relationRecordsForm']) ?>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title"><?= e(trans('Uploaded relational files')) ?></h4>
    </div>

    <div class="modal-body">
        <div class="form-group" id="relation-list">
            <?= $this->makePartial('relation_list') ?>
        </div>
    </div>

    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-danger"
            data-request="<?= $this->getEventHandler('onDeleteRelationRecord') ?>"
            data-request-confirm="<?= e(trans('backend::lang.relation.delete_confirm')) ?>"
            onclick="richeditorRelationUploadSetSelectedRecords($('#relationRecordsForm'))"
            data-request-success="richeditorRelationUploadRemove()">
            <?= e(trans('backend::lang.form.delete')) ?>
        </button>
        <button
            type="button"
            class="btn btn-primary"
            data-dismiss="popup"
            onclick="richeditorRelationUploadSetSelectedRecords($('#relationRecordsForm'));richeditorRelationUploadInsert();">
            <?= e(trans('backend::lang.form.select')) ?>
        </button>
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="popup">
            <?= e(trans('backend::lang.form.cancel')) ?>
        </button>
    </div>
<?= Form::close() ?>
