<div class="contact-us-form">
    <h3 class="mb-4">Drop Us a Line</h3>
    <p class="lead">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="commentNameInput">
                    <label for="commentNameInput">First Name</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="commentLastNameInput">
                    <label for="commentLastNameInput">Last Name</label>
                </div>
            </div>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="commentEmailInput">
            <label for="commentEmailInput">Email address</label>
        </div>
        <div class="mb-3 form-floating">
            <textarea style="height:125px" class="form-control" id="commentContentTextarea"></textarea>
            <label for="commentContentTextarea">Comment</label>
        </div>
        <div class="form-buttons d-flex pt-2">
            <div>
                <button type="submit" class="btn btn-primary btn-lg btn-pill">Submit</button>
            </div>
        </div>
    </form>
</div>
