@footer-zindex: 100;
@footer-height: 60;

#layout-footer {
    width: 100%;
    z-index: @footer-zindex;
    height: @footer-height + 0px;
    position: fixed;
    bottom: 0;
    color: @color-footer-text;
    background-color: @color-footer;
    border-top: 1px solid @color-footer-border;

    .brand, .tagline {
        margin: 10px;
        height: (@footer-height - 20) + 0px;
        line-height: (@footer-height - 20) + 0px;
    }

    .brand {
        float: left;
        font-size: 16px;
        .logo { margin: 0 10px; }
        .name { }
    }

    .tagline {
        float: right;
        p { color: lighten(@color-footer-text, 20%); }
    }
}

