//
// Top navigation bar
// --------------------------------------------------

body.mainmenu-open {
    overflow: hidden;
}

.main-menu-item-link() {
    padding: 19px 0 15px;
    display: inline-block;
    font-size: 16px;
    color: inherit;
    outline: none;

    &:hover {
        background-color: transparent !important;
    }

    &:active, &:focus {
        text-decoration: none;
        color: @color-mainmenu-inactive;
    }

    i {
        position: relative;
        top: -2px;
        line-height: 1;
        font-size: 30px;
        vertical-align: middle;
        margin-right: 10px;
    }
}

nav#layout-mainmenu {
    background-color: @color-mainmenu;
    padding: 0 0 0 20px;
    line-height: 0;
    white-space: nowrap;
    vertical-align: top;

    a {
        text-decoration: none;
        &:focus {
            background: transparent;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        white-space: nowrap;
        overflow: hidden;

        li {
            color: @color-mainmenu-inactive;
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
            position: relative;

            a {
                .main-menu-item-link();

                img.svg-icon {
                    height: 30px;
                    width: 30px;
                    margin-right: 10px;
                    position: relative;
                    top: 0;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                &:after {
                    content: ' ';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -8.5px;
                }

                a {
                    font-size: 18px;
                    padding-top: 13px;
                    padding-bottom: 8px;

                    i {
                        font-size: 40px;
                    }

                    img.svg-icon {
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            &.icon {
                margin-right: 0;

                i {
                    margin-right: 0;
                }

                a {
                    padding: 14px;
                }
            }

            &.power-off, &.preview {
                i {
                    font-size: 20px;
                }

                a {
                    padding: 25px 10px 19px 21px;
                }
            }

            &.account {
                margin-right: 0;

                > a {
                    padding: 16px 20px 13px 10px;
                    font-size: 18px;
                    position: relative;
                    z-index: 200; // Previous value 590 was overlappnig with drop-down menus on small screens
                }

                img {
                    width: 35px;
                    margin-right: 15px;
                    position: relative;
                    top: -1px;
                }

                ul {
                    line-height: 23px;
                }
            }
        }

        &.nav {
            display: inline-block;
        }
    }

    .menu-toggle {
        .main-menu-item-link();
        display: none;
    }

    .toolbar-item {
        padding-right: 0;

        &:before, &:after {
            margin-top: 0;
        }

        &:before {
            left: -12px;
        }

        &:after {
            right: -12px;
        }

        &.scroll-active-before:before {
            color: @color-mainmenu-active;
        }

        &.scroll-active-after:after {
            color: @color-mainmenu-active;
        }
    }
}

html.svg {
    nav#layout-mainmenu,
    .mainmenu-collapsed {
        img.svg-icon {
            display: inline-block;
        }
    }
}

nav#layout-mainmenu ul li .mainmenu-accountmenu {
    position: fixed;
    top: 64px;
    right: 0;
    background: @color-accountmenu-bg;
    z-index: 590;
    display: none;

    &.active {
        display: block;
    }

    &:after {
        .triangle(up, 22px, 12px, @color-accountmenu-bg);
        right: 40px;
        top: -12px;
        position: absolute;
    }

    ul {
        float: none;
        display: block;
    }

    li {
        padding: 0;
        margin: 0;
        font-weight: normal;
        text-align: left;
        display: block;

        a {
            display: block;
            padding: 12px 30px;
            text-align: left;
        }

        &:hover {
            background: #3d5265!important;
        }
    }

    li.divider {
        height: 1px;
        width: 100%;
        background-color: @color-accountmenu-divider;
    }

    @media (max-width: @screen-sm) {
        &:after {
            right: 71px;
        }
    }
}

nav#layout-mainmenu.navbar ul li:hover,
.mainmenu-collapsed li:hover {
    a {
        &:active, &:focus {
            color: @color-mainmenu-active !important;
        }
    }
}

.touch .mainmenu-collapsed li a:hover {
    color: @color-mainmenu-inactive;
}

nav#layout-mainmenu.navbar ul li,
.mainmenu-collapsed li {
    &.active, &.highlight {
        color: @color-mainmenu-active !important;

        a {
            color: @color-mainmenu-active !important;
        }
    }

    &:hover {
        color: @color-mainmenu-active;
        background: transparent;
    }
}

body.drag {
    nav#layout-mainmenu.navbar ul.nav,
    .mainmenu-collapsed ul {
        li:hover { color: @color-mainmenu-inactive; }
    }
}

@media (max-width: @menu-breakpoint-max) {
    nav#layout-mainmenu.navbar {
        ul.nav {display: none;}

        .menu-toggle {
            display: inline-block;
            color: @color-mainmenu-active!important;
        }
    }

    .mainmenu-collapsed {
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
        background: @color-mainmenu-collapsed;
        .box-shadow(inset -5px 0 3px rgba(0,0,0,0.1));

        margin: 0;

        > div {
            display: relative;
            height: 100%;

            ul {
                overflow: hidden;
                padding: 0;
                margin: 0;

                li {
                    text-transform: uppercase;
                    list-style: none;
                    color: @color-mainmenu-inactive;

                    a {
                        .main-menu-item-link();

                        white-space: nowrap;
                        display: block;
                        padding: 15px 20px;

                        &:hover {
                            text-decoration: none;
                        }

                        img.svg-icon {
                            margin-right: 10px;
                            position: relative;
                            top: -3px;
                            width: 30px;
                            height: 30px;
                        }

                        i {
                            width: 40px;
                            text-align: left;
                            display: inline-block;
                        }
                    }

                    &.active a {
                        padding: 9px 20px 11px 20px;
                    }
                }
            }
        }

        .vertical-scroll-marker(@color-mainmenu-inactive);
    }
}

body.mainmenu-open  .mainmenu-collapsed ul {
    position: fixed;
    left: 0;
    top: 10px;
    bottom: 10px;
}

@media (min-width: @menu-breakpoint-min) {
    #layout-canvas {position: static!important;}
    .mainmenu-collapsed {display: none!important;}
}