.component-backend-treeview {
    .drag-indicator {
        position: absolute;
        display: none;
        pointer-events: none;

        right: 0;
        height: 4px;
        background: var(--bs-primary);
        border: 1px solid white;
        border-radius: 6px;
        z-index: 1;
        margin-top: -2px;

        &[data-drop-position] {
            display: block;
        }

        &[data-drop-position=below] {
            margin-top: 28px;
        }

        &:after {
            content: '';
            position: absolute;
            border: 2px solid var(--bs-primary);
            background: white;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            top: -2px;
            left: -4px;
            box-shadow: 0 0 0 1px white;
        }
    }

    ul li.drop-target-parent {
        > .item-label-outer-container {
            &:before {
                border: 2px solid var(--bs-primary);
            }
        }
    }

    .treeview-ghost-image-container {
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;

        &.snapshot {
            z-index: 5;
        }
    }
}
