.component-backend-treeview {
    ul li {
        > .item-label-outer-container > .item-label-container.has-menu {
            .node-menu-trigger {
                display: none;

                position: absolute;
                top: 0;
                right: 0;
                background: transparent;
                border: none;
                -webkit-appearance: none;
                outline: none;
                border-radius: 4px;
                width: 30px;
                height: 30px;
                font-size: 0;
                color: transparent;

                &:before {
                    width: 2px;
                    height: 12px;
                    top: 9px;
                    left: 14px;
                    position: absolute;
                    background-position: -231px 0;
                }

                &:focus {
                    background-color: rgba(0, 0, 0, 0.1);
                }
            }

            &:hover {
                padding-right: 30px;

                .node-menu-trigger {
                    display: inline-block;
                }
            }
        }
    }
}
