.component-backend-treeview {
    .modal.component-backend-modal {
        &.treeview-quick-access-modal {
            .modal-content {
                min-height: 52px;
            }
        }

        .treeview-quick-access {
            .modal-header {
                border-bottom: none;
                padding: 0;
                height: 10px;
                min-height: 0;

                h4 {
                    display: none;
                }
            }

            .modal-body {
                padding: 0;

                .input-container {
                    position: relative;

                    &:before {
                        display: block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        background-position: -238px 0;
                        top: 7px;
                        left: 10px;
                    }

                    > input {
                        display: block;
                        border: none;
                        height: 40px;
                        width: 100%;
                        border-bottom-style: solid;
                        border-bottom-color: var(--oc-primary-border);
                        border-bottom-width: 0;
                        background: transparent;
                        outline: none;
                        -webkit-appearance: none;
                        position: relative;
                        padding: 0 10px 11px 35px;

                        &:focus {
                            border-bottom-color: #72809d;
                        }
                    }
                }

                .scrollable-panel-container {
                    background: inherit;
                }

                .quick-access-list {
                    li {
                        line-height: 30px;
                        padding: 0 10px 0 30px;
                        white-space: nowrap;
                        overflow: hidden;
                        user-select: none;
                        position: relative;
                        cursor: pointer;

                        &.quick-list-header {
                            cursor: default;
                            line-height: 12px;
                            font-weight: 600;
                            font-size: 12px;
                            color: var(--bs-secondary-color);
                            padding: 0 0 0 10px;
                            margin: 8px 0 5px 0;
                        }

                        span {
                            vertical-align: middle;

                            &.node-icon {
                                left: 10px;
                                box-shadow: none;

                                i.icon-command {
                                    background-position: -283px -37px;
                                    width: 16px;
                                    height: 16px;
                                    top: 0;
                                    left: 0;
                                }
                            }

                            &.path-item {
                                font-size: 14px;
                            }

                            &.path-section,
                            &.path-node,
                            &.path-command,
                            &.path-folder {
                                color: var(--bs-secondary-color);
                            }

                            &.path-folder {
                                &:before {
                                    width: 16px;
                                    height: 16px;
                                    background-position: 0 -20px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin: 0 5px;
                                }
                            }

                            &.path-node,
                            &.path-leaf {
                                &:before {
                                    display: inline-block;
                                    color: var(--bs-secondary-color);
                                    margin: 0 3px;
                                    content: '/';
                                }

                                &.path-leaf-command:before {
                                    display: none;
                                }
                            }

                            &.path-section + .path-node {
                                &:before {
                                    display: inline-block;
                                    margin: 0 3px;
                                    content: '\2192';
                                }
                            }

                            &.path-command {
                                &:after {
                                    display: inline-block;
                                    margin: 0 3px;
                                    content: '\2192';
                                }
                            }
                        }

                        &.selected {
                            background: var(--oc-selection);

                            span {
                                &,
                                &.path-section,
                                &.path-node {
                                    color: white;
                                }

                                &:before {
                                    color: white;
                                }

                                &.path-folder:before {
                                    background-position: 0 -73px;
                                }

                                &.node-icon {
                                    i.icon-command {
                                        background-position: -283px -53px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.has-results {
                    .input-container {
                        > input {
                            border-bottom-width: 1px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}
