@import "_node.css";
@import "_section.css";
@import "_node-expand-toggle.css";
@import "_node-icon.css";
@import "_node-menu.css";
@import "_drag-drop.css";
@import "_search.css";
@import "_quick-access.css";

.component-backend-treeview {
    background: var(--oc-editor-bg);
    user-select: none;

    .scrollable-panel-container {
        background: var(--oc-editor-bg);

        &.scrolled:before {
            z-index: 1;
        }
    }

    .treeview-container {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 0;
        }

        .scrollable {
            > div {
                margin: 0 8px 8px 8px;

                /* Important: this element must be an offset
                   parent for .item-label-container inside nodes */

                position: relative;
            }
        }
    }
}
