<div class="field-repeater">

    <div id="<?= $this->getId('items') ?>" class="field-repeater-items">
        <?php foreach ($this->formWidgets as $index => $widget): ?>
            <?= $this->makePartial('repeater_item', [
                'widget' => $widget,
                'indexValue' => $index
            ]) ?>
        <?php endforeach ?>
    </div>

    <div class="field-repeater-add-item loading-indicator-container indicator-center">
        <a
            href="javascript:;"
            data-load-indicator
            data-request="<?= $this->getEventHandler('onAddItem') ?>">
            <?= e(trans($prompt)) ?>
        </a>
    </div>

</div>

