<div class="field-repeater"
     data-control="fieldrepeater"
     data-sortable-container="#<?= $this->getId('items') ?>"
     data-sortable-handle=".<?= $this->getId('items') ?>-handle"
     data-max-items="<?= $maxItems ?>">

    <ul id="<?= $this->getId('items') ?>" class="field-repeater-items">
        <?php foreach ($this->formWidgets as $index => $widget): ?>
            <?= $this->makePartial('repeater_item', [
                'widget' => $widget,
                'indexValue' => $index
            ]) ?>
        <?php endforeach ?>
    </ul>

    <div class="field-repeater-add-item loading-indicator-container indicator-center">
        <a
                href="javascript:;"
                data-request="<?= $this->getEventHandler('onAddItem') ?>"
                data-request-complete="($('.field-repeater').attr('data-max-items') > $('.field-repeater-item').length || $('.field-repeater').attr('data-max-items') == 0) ? $('.field-repeater-add-item').show() : $('.field-repeater-add-item').hide()"
                data-load-indicator>
            <?= e(trans($prompt)) ?>
        </a>
    </div>

</div>
