<div class="field-repeater"
     data-control="fieldrepeater"
     <?= $maxItems ? 'data-max-items="'.$maxItems.'"' : '' ?>
     data-sortable-container="#<?= $this->getId('items') ?>"
     data-sortable-handle=".<?= $this->getId('items') ?>-handle">

    <ul id="<?= $this->getId('items') ?>" class="field-repeater-items">
        <?php foreach ($formWidgets as $index => $widget): ?>
            <?= $this->makePartial('repeater_item', [
                'widget' => $widget,
                'indexValue' => $index
            ]) ?>
        <?php endforeach ?>
    </ul>

    <div class="field-repeater-add-item loading-indicator-container indicator-center">
        <?php if ($useGroups): ?>
            <a
                href="javascript:;"
                data-repeater-add-group
                data-load-indicator>
                <?= e(trans($prompt)) ?>
            </a>
        <?php else: ?>
            <a
                href="javascript:;"
                data-repeater-add
                data-request="<?= $this->getEventHandler('onAddItem') ?>"
                data-load-indicator>
                <?= e(trans($prompt)) ?>
            </a>
        <?php endif ?>
    </div>

    <script type="text/template" data-group-palette-template>
        <div class="popover-head">
            <h3><?= e(trans($prompt)) ?></h3>
            <button type="button" class="close"
                data-dismiss="popover"
                aria-hidden="true">&times;</button>
        </div>
        <div class="popover-fixed-height w-300">
            <div class="control-scrollpad" data-control="scrollpad">
                <div class="scroll-wrapper">

                    <div class="control-filelist filelist-hero" data-control="filelist">
                        <ul>
                            <?php foreach ($groupDefinitions as $item): ?>
                                <li>
                                    <a
                                        href="javascript:;"
                                        data-repeater-add
                                        data-request="<?= $this->getEventHandler('onAddItem') ?>"
                                        data-request-data="_repeater_group: '<?= $item['code'] ?>'">
                                        <i class="list-icon <?= $item['icon'] ?>"></i>
                                        <span class="title"><?= $item['name'] ?></span>
                                        <span class="description"><?= $item['description'] ?></span>
                                        <span class="borders"></span>
                                    </a>
                                </li>
                            <?php endforeach ?>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </script>

</div>