<!-- Nav -->
{% placeholder headerBefore %}
<nav id="layout-nav" class="navbar navbar-expand-lg navbar-dark">
    <div class="navbar-container container">
        <a class="navbar-brand" href="{{ 'index'|page }}">
            <img src="{{ 'assets/images/logo.svg'|theme }}" alt="October CMS Demo" width="230" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% partial 'site/nav-links' %}
            </ul>
        </div>
    </div>
</nav>
<div id="layout-nav-decorations">
    <div class="navbar-decorations container">
        <div class="navbar-decoration-1"></div>
        <div class="navbar-decoration-2"></div>
    </div>
</div>
{% placeholder headerAfter %}
