<div class="navbar-mobile">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="text-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="bi bi-x-circle"></span>
            </button>
        </div>
        <ul class="nav flex-column mb-2 mb-lg-0">
            {% partial 'site/nav-links' %}
        </ul>
    </div>
</div>
