{# Vendor #}
<script src="{{ 'assets/vendor/jquery.min.js'|theme }}"></script>
<script src="{{ 'assets/vendor/bootstrap/bootstrap.min.js'|theme }}"></script>
<script src="{{ 'assets/js/code-blocks.js'|theme }}" defer
    data-script="{{ 'assets/vendor/codeblocks/codeblocks.min.js'|theme }}"
    data-stylesheet="{{ 'assets/vendor/codeblocks/codeblocks.min.css'|theme }}"></script>
<script src="{{ 'assets/vendor/slick-carousel/slick.min.js'|theme }}"></script>

<script type="module">
    import PhotoSwipeLightbox from "{{ 'assets/vendor/photoswipe/photoswipe-lightbox.esm.min.js'|theme }}";
    import PhotoSwipeModule from "{{ 'assets/vendor/photoswipe/photoswipe.esm.min.js'|theme }}"
    import PhotoSwipeDynamicCaption from "{{ 'assets/vendor/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.esm.js'|theme }}";

    window.PhotoSwipeLightbox = PhotoSwipeLightbox;
    window.PhotoSwipeModule = PhotoSwipeModule;
    window.PhotoSwipeDynamicCaption = PhotoSwipeDynamicCaption;
</script>

{# App #}
{% framework extras %}
<script src="{{ 'assets/js/controls/alert-dialog.js'|theme}}"></script>
<script src="{{ 'assets/js/controls/password-dialog.js'|theme}}"></script>
<script src="{{ 'assets/js/controls/gallery-slider.js'|theme}}"></script>
<script src="{{ 'assets/js/controls/card-slider.js'|theme}}"></script>
<script src="{{ 'assets/js/controls/quantity-input.js'|theme}}"></script>
<script src="{{ 'assets/js/app.js'|theme}}"></script>

{# Placeholder #}
{% scripts %}
