

<div class="row">
    <div class="col-md-6">
        File Columns

        <div class="import-file-columns">
            <p class="upload-prompt">
                Please upload a valid CSV file.
            </p>

            <ul style="display: none">
                <li>
                    <div class="import-column-name">
                        <span>Name</span>
                    </div>
                    <div class="import-column-bindings">
                        <ul data-empty-text="Drop column here..."></ul>
                    </div>
                </li>
                <li>
                    <div class="import-column-name">
                        <span>URL Name</span>
                    </div>
                    <div class="import-column-bindings">
                        <ul data-empty-text="Drop column here..."></ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        Record Columns

        <div class="import-record-columns">
            <ul>
                <li><span>SKU</span></li>
                <li><span>Title</span></li>
                <li><span>Description</span></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $('.import-record-columns > ul, .import-column-bindings > ul').sortable({
        group: 'import-fields',
        usePlaceholderClone: true
    })
</script>