<div class="import-db-columns" id="importDbColumns">
    <ul>
        <?php foreach ($importDbColumns as $column => $label): ?>
            <li data-column-name="<?= e($column) ?>">
                <span>
                    <i class="column-icon icon-link"></i>
                    <?= e($label) ?>
                </span>
                <input type="hidden" data-column-match Xname="column_match[1][]" Xvalue="<?= e($column) ?>" >
            </li>
        <?php endforeach ?>
    </ul>
</div>

<script>
    $.oc.importBehavior.bindColumnSorting()
</script>