<div class="row">
    <div class="col-md-6">
        File Columns

        <div class="import-file-columns">
            <p class="upload-prompt">
                Please upload a valid CSV file.
            </p>

            <ul style="display: none">
                <li data-import-code="1|name">
                    <div class="import-column-name">
                        <span>Name</span>
                    </div>
                    <div class="import-column-bindings">
                        <ul data-empty-text="Drop column here..."></ul>
                    </div>
                </li>
                <li data-import-code="2|url_name">
                    <div class="import-column-name">
                        <span>URL Name</span>
                    </div>
                    <div class="import-column-bindings">
                        <ul data-empty-text="Drop column here..."></ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        Record Columns

        <div class="import-db-columns">
            <ul>
                <?php foreach ($importColumns as $column => $label): ?>
                    <li data-column-name="<?= e($column) ?>">
                        <span><?= e($label) ?></span>
                        <input type="hidden" data-column-match Xname="column_match[1|xxx][]" Xvalue="<?= e($column) ?>" >
                    </li>
                <?php endforeach ?>
            </ul>
        </div>
    </div>
</div>

<script>
    $('.import-db-columns > ul, .import-column-bindings > ul').sortable({
        group: 'import-fields',
        usePlaceholderClone: true
    })
</script>