<div class="import-db-columns">
    <ul>
        <?php foreach ($importDbColumns as $column => $label): ?>
            <li data-column-name="<?= e($column) ?>">
                <span><?= e($label) ?></span>
                <input type="hidden" data-column-match Xname="column_match[1][]" Xvalue="<?= e($column) ?>" >
            </li>
        <?php endforeach ?>
    </ul>
</div>

<script>
    $('.import-db-columns > ul, .import-column-bindings > ul').sortable({
        group: 'import-fields',
        usePlaceholderClone: true
    })
</script>