@import "../../../../assets/less/core/boot.less";

.export-behavior {

    .export-columns {
        max-height: 400px;
        background: #f0f0f0;
        padding: 15px;
        padding-bottom: 0;
        overflow: auto;
    }

}