@import "../../../../assets/less/core/boot.less";

@color-import-column-bg: #fff;
@color-import-column-border: #ccc;
@color-import-bound-bg: #e8eaeb;
@import-column-padding: 10px;

.import-behavior {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li.placeholder {
            display: block;
            position: relative;
        }

        li.dragged {
            position: absolute;
            //opacity: 0.5;
            z-index: 2000;
            .box-shadow(0 3px 6px rgba(0,0,0,.075));
        }
    }

    .import-file-columns,
    .import-db-columns {
        height: 400px;
        background: #f0f0f0;
        padding: 5px;
    }
    .import-file-columns {
        .upload-prompt {
            display: block;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -10px;
        }
    }

    .import-column-bindings > ul > li,
    .import-db-columns > ul > li {
        cursor: pointer;
    }

    ul li.dragged,
    .import-file-columns > ul > li,
    .import-db-columns > ul > li {
        background: @color-import-column-bg;
        border: 1px solid @color-import-column-border;
        border-radius: 3px;
        margin-bottom: 5px;

        div.import-column-name > span,
        > span {
            display: block;
            padding: @import-column-padding;
        }
    }

    .import-file-columns > ul {
        > li {
            .clearfix;
        }

        div.import-column-name {
            float: left;
            width: 45%;
        }

        .import-column-bindings > ul {
            float: right;
            width: 55%;
        }
    }

    .import-column-bindings > ul {
        background: darken(@color-import-bound-bg, 5%);
        position: relative;
        min-height: (@import-column-padding * 2) + 20px;

        &:after {
            .triangle(right, 18px, (@import-column-padding * 2) + 20px, @color-import-column-bg);
            position: absolute;
            top: 0;
            left: 0;
        }

        &:before {
            position: absolute;
            padding: @import-column-padding;
            padding-left: 26px;
            content: attr(data-empty-text);
            font-style: italic;
            color: rgba(0,0,0,.5);
        }

        > li:not(.dragged) {
            background: @color-import-bound-bg;
            position: relative;

            > span {
                display: block;
                padding: @import-column-padding;
                padding-left: 26px;
            }
        }
    }

}