@import "../../../../assets/less/core/boot.less";

@color-import-column-bg: #f0f0f0;
@color-import-column-border: #ccc;

.import-behavior {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li.placeholder {
            display: block;
            position: relative;
        }

        li.dragged {
            position: absolute;
            //opacity: 0.5;
            z-index: 2000;
            .box-shadow(0 3px 6px rgba(0,0,0,.075));
        }
    }

    ul.import-file-columns,
    ul.import-record-columns {
        li {
            background: @color-import-column-bg;
            border: 1px solid @color-import-column-border;
            border-radius: 3px;
            margin-bottom: 5px;

            div.import-column-name > span,
            > span {
                display: block;
                padding: 5px;
            }
        }
    }

    ul.import-file-columns {
        li {
            .clearfix;
        }

        div.import-column-name {
            float: left;
            width: 50%;
        }

        ul.import-column-bindings {
            float: right;
            width: 50%;
        }
    }

    ul.import-column-bindings {
        background: #999;
        padding: 5px 5px;
        li {
            background: transparent;
            border-color: transparent;
        }
    }

}