<hr />

<!-- This file is an explanation of the AJAX page -->

<p class="lead">
    <i class="icon-copy"></i>
        The HTML markup for this example:
    </p>
    <pre>{% filter escape %}<!-- The form -->
<form data-request="onTest" data-request-update="calcresult: '#result'">
    <input type="text" value="15" name="value1">
    <select name="operation">
        <option>+</option>
        <option>-</option>
        <option>*</option>
        <option>/</option>
    </select>
    <input type="text" value="5" name="value2">
    <button type="submit">Calculate</button>
</form>

<!-- The result -->
<div id="result">{{ "{% partial \"calcresult\" %}" }}</div>
{% endfilter %}</pre>

<hr />

<p class="lead">
    <i class="icon-tags"></i>
    The <code>calcresult</code> partial:
</p>

<pre>{% filter escape %}
{{ "{% if result %}" }}
    The result is {{ "{{ result }}" }}.
{{ "{% else %}" }}
    Click the <em>Calculate</em> button to find the answer.
{{ "{% endif %}" }}{% endfilter %}</pre>

<hr />

<p class="lead">
    <i class="icon-code"></i>
    The <code>onTest</code> PHP code:
</p>

<pre>function onTest()
{
    $value1 = post('value1');
    $value2 = post('value2');
    $operation = post('operation');

    switch ($operation) {
        case '+' : 
            $this['result'] = $value1 + $value2;
            break;
        case '-' : 
            $this['result'] = $value1 - $value2;
            break;
        case '*' : 
            $this['result'] = $value1 * $value2;
            break;
        default : 
            $this['result'] = $value1 / $value2;
            break;
    }
}</pre>


<hr />

<div class="text-center">
    <p><a href="{{ 'plugins'|page }}" class="btn btn-lg btn-default">Continue to Plugin components</a></p>
</div>
