<hr />

<p class="lead">
    <i class="icon-copy"></i>
    The HTML markup for this example:
</p>
<pre>
{% filter escape %}
{{ "{% component 'demoTodo' %}" }}
{% endfilter %}</pre>

<hr />

<p class="lead">
    <i class="icon-question"></i> 
    Wait, only one line is needed?
</p>
<p><em>Yes!</em> unlike the <a href="{{ 'ajax'|page }}">AJAX example</a>, components are simple building blocks that can be used with a small amount of code.</p>
<p>The <code>demoTodo</code> component used here is provided by the plugin called <strong>October\Demo</strong>, you can find it in the <code>plugins/october/demo</code> folder.</p>

<hr />

<div class="text-center">
    <p><a target="_blank" href="http://octobercms.com/docs" class="btn btn-lg btn-default">Learn more at October's Documentation</a></p>
</div>
