.component-backend-documentmarkdowneditor {
    .EasyMDEContainer {
        .editor-toolbar,
        .editor-statusbar {
            display: none;
        }

        .editor-preview-side {
            background-color: var(--oc-form-control-bg);
            color: var(--bs-body-color);
            border: none;
            border-left: var(--oc-primary-border) 1px solid;
        }

        .CodeMirror {
            border: none;
            border-radius: 0;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    .CodeMirror-sided.sided--no-fullscreen {
        flex: none;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        z-index: 0;
    }

    .editor-preview-active-side.sided--no-fullscreen {
        flex: none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 0;
    }

    /* Base editor styles */

    a {
        text-decoration: underline;
        color: var(--oc-link-color);
    }

    h1 {
        font-size: 34px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 26px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 21px;
        font-weight: normal;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 18px;
        font-weight: normal;
        margin: 20px 0;
    }

    h5 {
        font-size: 16px;
        font-weight: normal;
        color: #434343;
    }

    strong {
        font-weight: 700;
    }

    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        padding: 5px 10px;
        border-radius: 4px;
    }

    code {
        background: #eee;
        padding: 0px 3px 2px;
        display: inline-block;
        border-radius: 4px;
    }

    blockquote {
        border-left: solid 2px #5e35b1;
        margin-left: 0;
        padding-left: 5px;
        color: #5e35b1;
        font-size: inherit;

        blockquote {
            border-color: #00bcd4;
            color: #00bcd4;

            blockquote {
                border-color: #43a047;
                color: #43a047;
            }
        }
    }

    table {
        border: none;
        border-collapse: collapse;
        empty-cells: show;
        max-width: 100%;
        margin-bottom: 10px;

        td,
        th {
            border: 1px solid #ddd;
            padding: 5px;

            &:empty {
                height: 20px;
            }
        }

        th {
            background: #e6e6e6;
        }
    }

    hr {
        clear: both;
        user-select: none;
        page-break-after: always;
    }
}

/* Override vendor styles */
.CodeMirror {
    background-color: var(--oc-form-control-bg);
    color: var(--bs-body-color);
}

[data-bs-theme="dark"] {
    .cm-s-easymde .cm-string {
        color: #3498db;
    }
    .cm-s-easymde .cm-attribute {
        color: #a6a7fa;
    }
}
