.component-backend-documentmarkdowneditor {
    .EasyMDEContainer {
        .editor-toolbar,
        .editor-statusbar {
            display: none;
        }

        .editor-preview-side {
            background-color: var(--oc-form-control-bg);
            color: var(--bs-body-color);
            border: none;
            border-left: var(--oc-primary-border) 1px solid;
        }

        .CodeMirror {
            border: none;
            border-radius: 0;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    .CodeMirror-sided.sided--no-fullscreen {
        flex: none;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        z-index: 0;
    }

    .editor-preview-active-side.sided--no-fullscreen {
        flex: none;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        z-index: 0;
    }

}

/* Override vendor styles */
.CodeMirror {
    background-color: var(--oc-form-control-bg);
    color: var(--bs-body-color);
}

[data-bs-theme="dark"] {
    .cm-s-easymde .cm-string {
        color: #3498db;
    }
    .cm-s-easymde .cm-attribute {
        color: #a6a7fa;
    }
}
