div.component-backend-loading-indicator {
    .bar-indicator {
        overflow: hidden;
        height: 6px;
        border-radius: 6px;
        background: var(--oc-primary-border);

        .stripe-indicator {
            height: 6px;

            > div {
                transition: width 0.3s, height 0.3s;

                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 2;
                    background: var(--bs-success);
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                &.progress-done:before {
                    opacity: 1;
                }
            }
        }
    }

    &.orientation-vertical {
        .bar-indicator {
            width: 6px;
            height: 100%;
            position: absolute;

            .stripe-indicator {
                width: 6px;
                height: 100%;
            }
        }
    }
}
