.component-backend-monaco-editor {
    .component-backend-tabs {
        &.style-monaco-editor {
            > .tablist-container {
                .tablist {
                    button {
                        font-weight: 600;
                        padding-top: 7px;
                        padding-bottom: 7px;

                        span.tab-icon {
                            top: 9px;
                            box-shadow: none !important;

                            .tab-icon-background {
                                background-color: transparent !important;

                                i {
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }

            &.monaco-tabs-vs-dark {
                > .tablist-container {
                    background: #2d2d2d;

                    .tablist {
                        button {
                            border-right: 1px solid #1e1e1e;
                            color: #969696;

                            &.active {
                                color: white;
                                background: #1e1e1e;
                            }
                        }
                    }
                }
            }

            &.monaco-tabs-hc-black {
                > .tablist-container {
                    background: #2d2d2d;

                    .tablist {
                        button {
                            border-right: 1px solid #000000;
                            color: #969696;

                            &.active {
                                color: white;
                                background: #000000;
                            }
                        }
                    }
                }
            }

            &.monaco-tabs-vs {
                > .tablist-container {
                    .tabs-scrollable {
                        overflow: visible;
                    }

                    border-bottom: 1px solid var(--oc-primary-border);

                    .tablist {
                        button {
                            border-right: 1px solid var(--oc-primary-border);
                            overflow: visible;

                            &.active {
                                color: #2C3E4F;
                                span[role=text]:after {
                                    position: absolute;
                                    content: '';
                                    width: 100%;
                                    height: 1px;
                                    bottom: -1px;
                                    left: 0;

                                    background-color: #ffffff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
