.field-datatable.is-handsontable .toolbar {
    padding: 3px;
    font-size: 0;
    white-space: nowrap;
    border: 1px solid var(--bs-border-color);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.field-datatable.is-handsontable .toolbar .toolbar-search {
    float: right;
    margin: 0 3px 0 0;
}

.field-datatable.is-handsontable .toolbar .toolbar-search .form-control {
    height: auto;
    padding: 5px 13px;
    font-size: 13px;
}

.field-datatable.is-handsontable .handsontable-container {
    /* border: 1px solid var(--bs-border-color); */
    /* border-radius: 4px; */
}

.field-datatable.is-handsontable .toolbar + .handsontable-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Header styling to match legacy table */
.field-datatable.is-handsontable .handsontable thead th {
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    color: var(--oc-heading-color);
    background: var(--bs-tertiary-bg);
    border-color: var(--bs-border-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.field-datatable.is-handsontable .handsontable thead th.ht__highlight {
    background: var(--bs-secondary-bg);
}

.field-datatable.is-handsontable .handsontable thead th.ht__highlight.ht__active_highlight {
    background: var(--oc-primary-active-bg);
    color: var(--oc-highlight-color);
}

.field-datatable.is-handsontable .handsontable thead th .relative {
    padding: 7px 10px;
}

/* Cell styling */
.field-datatable.is-handsontable .handsontable td {
    line-height: 28px;
}

.field-datatable.is-handsontable .handsontableInput {
    padding: 0 5px;
    line-height: 28px;
}

.field-datatable.is-handsontable .handsontable th {
    border-color: var(--bs-border-color);
}

.field-datatable.is-handsontable .handsontableInputHolder {
    z-index: 200;
}

.field-datatable.is-handsontable .autocompleteEditor.handsontable {
    z-index: 201;
}

/* Selected cell highlight */
.field-datatable.is-handsontable .handsontable td.area:before {
    background: var(--bs-primary);
}