.control-executeoutput {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;

    .update-item {
        dl {
            margin-bottom: 0;

            &::before, &::after {
                display: table;
                content: " ";
            }
            &::after {
                clear: both;
            }

            dt, dd {
                float: left;
                padding: 5px 0;
                margin: 0;
                font-size: 12px;
                line-height: 20px;
            }

            dt {
                width: 8%;
                clear: left;
                font-weight: 400;
                color: #999;
                text-align: right;
                padding-right: 1rem;
                font-family: monospace;
            }

            dd {
                width: 92%;
                color: #455152;
            }
        }

        &:nth-child(odd) {
            background-color: #f2f2f2;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}
