<div
    id="<?= $this->getId() ?>"
    class="field-mediafinder style-file-single <?= $value ? 'is-populated' : '' ?>"
    data-control="mediafinder"
>

    <!-- Find Button -->
    <button type="button" class="btn btn-default find-button">
        <i class="icon-folder"></i>
    </button>

    <!-- Existing value -->
    <div class="find-object">
        <div class="icon-container">
            <i class="icon-file"></i>
        </div>
        <div class="info">
            <h4 class="filename">
                <span data-find-file-name><?= substr($value, 1) ?></span>
            </h4>
        </div>
        <div class="meta">
            <a href="javascript:;" class="find-remove-button">
                <i class="icon-times"></i>
            </a>
        </div>
    </div>

    <!-- Empty message -->
    <div class="find-empty-message">
        <span class="text-muted"><?= $prompt ?></span>
    </div>

    <!-- Data locker -->
    <input
        type="hidden"
        name="<?= $field->getName() ?>"
        id="<?= $field->getId() ?>"
        value="<?= e($value) ?>"
        data-find-value
        />
</div>