@import "../../../../assets/less/core/boot.less";

div[data-control="sensitive"] {
    a[data-toggle],
    a[data-copy] {
        box-shadow: none;
        border: 1px solid @input-group-addon-border-color;
        border-left: 0;
    }
}
