/*
 * Search Input
 * --------------------------------------------------
 */

.control-search {
    &.is-modal-search .form-control,
    .form-control.recordfinder-search {
        background-position: right -81px !important;
        border-top-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 0;
        padding-left: 22px;
    }
}
