<div class="dropdown dropup">
    <a
        href="javascript:;"
        class="manage-widgets"
        data-toggle="dropdown">
        <i class="icon-cogs"></i> <?= e(trans('backend::lang.dashboard.manage_widgets')) ?>
    </a>

    <ul class="dropdown-menu" role="menu" data-dropdown-title="Manage dashboard">
        <li role="presentation">
            <a
                role="menuitem"
                href="javascript:;"
                data-control="popup"
                data-handler="<?= $this->getEventHandler('onLoadAddPopup') ?>"
                class="oc-icon-plus"
                tabindex="-1">
                <?= e(trans('backend::lang.dashboard.add_widget')) ?>
            </a>
        </li>
        <li role="separator" class="divider"></li>
        <?php if (\BackendAuth::getUser()->hasAccess('backend.manage_default_dashboard')) : ?>
            <li role="presentation">
                <a
                    role="menuitem"
                    href="javascript:;"
                    class="oc-icon-floppy-o"
                    data-request="<?= $this->getEventHandler('onMakeLayoutDefault') ?>"
                    data-request-confirm="<?= e(trans('backend::lang.dashboard.make_default_confirm')) ?>"
                    tabindex="-1">
                    <?= e(trans('backend::lang.dashboard.make_default')) ?>
                </a>
            </li>
        <?php endif; ?>
        <li role="presentation">
            <a
                role="menuitem"
                href="javascript:;"
                data-request-success="$(window).trigger('oc.reportWidgetRefresh')"
                data-request="<?= $this->getEventHandler('onResetWidgets') ?>"
                data-request-confirm="<?= e(trans('backend::lang.dashboard.reset_layout_confirm')) ?>"
                class="oc-icon-repeat"
                tabindex="-1">
                <?= e(trans('backend::lang.dashboard.reset_layout')) ?>
            </a>
        </li>
    </ul>
</div>