<?php if ($widget->property('ocWidgetNewRow')): ?>
    <li class="item separator"></li>
<?php endif ?>

<li class="item <?= 'width-'.$widget->property('ocWidgetWidth') ?> <?= $widget->property('ocWidgetNewRow') ? 'new-line' : null ?>">
    <div class="content">
        <div class="drag-handle"></div>

        <div id="<?= $widgetAlias ?>"><?= $widget->render() ?></div>

        <a href="javascript:;"
            class="oc-icon-cog widget-control edit-widget"
            data-inspectable
            data-inspector-title="<?= e(trans('backend::lang.dashboard.widget_inspector_title')) ?>"
            data-inspector-description="<?= e(trans('backend::lang.dashboard.widget_inspector_description')) ?>"
            data-inspector-config="<?= e($this->getWidgetPropertyConfig($widget)) ?>"
            data-inspector-class="<?= get_class($widget) ?>"
            data-inspector-offset="-3"
            data-inspector-offset-x="-15"
            data-inspector-placement="left"
            data-inspector-fallback-placement="left">
            <input type="hidden" name="widget_properties[]" data-inspector-values value="<?= e($this->getWidgetPropertyValues($widget)) ?>"/>
            Edit
        </a>

        <?php if ($this->canAddAndDelete): ?>
            <button type="button" class="close widget-control close-widget" data-dismiss="popover" aria-hidden="true">&times;</button>
        <?php endif ?>

        <input type="hidden" data-widget-alias name="widgetAliases[]" value="<?= $widgetAlias ?>"/>
        <input type="hidden" data-widget-order name="widgetSortOrders[]" value="<?= $sortOrder ?>"/>
    </div>
</li>