@import "_resizing.css";
@import "_formwidget.css";

.component-backend-richeditor-document-connector {
    div.richeditor-container {
        display: block;
        position: relative;
    }

    div.codeeditor-container {
        display: none;
    }

    &.code-editing-mode {
        div.richeditor-container {
            display: none;
        }

        div.codeeditor-container {
            display: block;
        }
    }

    .component-backend-richeditor {
        position: absolute;
        width: 100%;
        height: 100%;

        .fr-box {
            position: absolute !important;
        }

        .fr-toolbar {
            height: 0;
            padding: 0;
            border: none;

            > button,
            > div.fr-dropdown-menu,
            > div.fr-separator,
            > div.fr-btn-wrap {
                display: none;
            }
        }

        .fr-popup {
            top: 0 !important;
        }
    }

    iframe.fr-iframe {
        min-height: 100%;
    }
}

body .fr-popup {
    border: var(--oc-popup-border) !important;
    border-radius: 8px;
    box-shadow: 0 0 32px rgba(67, 86, 100, 0.2) !important;
    background-color: var(--oc-popup-bg);

    .fr-buttons {
        border-bottom: none !important;

        &:empty {
            border-bottom: none;
        }
    }

    .fr-arrow {
        display: none;
    }

    .fr-action-buttons {
        padding: 5px 0;
        height: auto;
    }
}

body.richeditor-document-connector-resizing {
    * {
        user-select: none;
        cursor: col-resize !important;
    }
}
