.field-fileupload .upload-button {
  display: block;
  float: left;
  border: 2px dotted rgba(0, 0, 0, 0.1);
  position: relative;
  outline: none;
}
.field-fileupload .upload-button table {
  position: absolute;
  height: 100%;
  width: 100%;
}
.field-fileupload .upload-button table td {
  line-height: 16px;
  font-size: 11px;
  vertical-align: middle;
  height: 100%;
}
.field-fileupload .upload-button table td:before {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}
.field-fileupload .upload-button table td span {
  display: block;
  padding: 10px;
  text-align: center;
}
.field-fileupload .upload-button:hover {
  border: 2px dotted rgba(0, 0, 0, 0.2);
}
.field-fileupload .upload-button:hover table td:before {
  color: #5cb85c;
  color: rgba(0, 0, 0, 0.2);
}
.field-fileupload .upload-button:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: transparent;
}
.field-fileupload .upload-button:focus table td:before {
  color: #5cb85c;
  color: rgba(0, 0, 0, 0.2);
}
.field-fileupload .upload-object {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  outline: none;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}
.field-fileupload .upload-object img {
  width: 100%;
  height: 100%;
}
.field-fileupload .upload-object .icon-container {
  display: table;
  opacity: .6;
}
.field-fileupload .upload-object .icon-container i {
  color: #95a5a6;
  display: inline-block;
}
.field-fileupload .upload-object .icon-container div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.field-fileupload .upload-object .icon-container.image > div.icon-wrapper {
  display: none;
}
.field-fileupload .upload-object h4 {
  font-weight: 600;
  font-size: 13px;
  color: #2b3e50;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  margin: 15px 0 5px 0;
  padding-right: 0;
  -webkit-transition: padding 0.1s;
  transition: padding 0.1s;
  position: relative;
}
.field-fileupload .upload-object h4 a {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.field-fileupload .upload-object p.size {
  font-size: 12px;
  color: #95a5a6;
}
.field-fileupload .upload-object p.size strong {
  font-weight: 400;
}
.field-fileupload .upload-object .meta .drag-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: move;
}
.field-fileupload .upload-object .info h4 a,
.field-fileupload .upload-object .meta a.drag-handle {
  color: #2b3e50;
  display: none;
  font-size: 15px;
  text-decoration: none;
}
.field-fileupload .upload-object .icon-container {
  position: relative;
}
.field-fileupload .upload-object .icon-container:after {
  background-image: url('../../../../../system/assets/ui/images/loader-transparent.svg');
  position: absolute;
  content: ' ';
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
  display: block;
  background-size: 40px 40px;
  background-position: 50% 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.field-fileupload .upload-object.is-success .icon-container:after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field-fileupload .upload-object.is-error .icon-container:after {
  content: "";
  background: none;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
  content: "\f071";
  -webkit-animation: none;
  animation: none;
  font-size: 40px;
  color: #ab2a1c;
  margin-top: -30px;
  margin-left: -20px;
  text-shadow: 2px 2px 0 #fff;
}
.field-fileupload .upload-object.is-success {
  cursor: pointer;
}
.field-fileupload .upload-object.is-success .icon-container {
  opacity: 1;
}
.field-fileupload .upload-object.is-success .progress-bar {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.field-fileupload .upload-object.is-error {
  cursor: pointer;
}
.field-fileupload .upload-object.is-error .icon-container {
  opacity: .5;
}
.field-fileupload .upload-object.is-error .info h4 {
  color: #ab2a1c;
}
.field-fileupload .upload-object.is-error .info h4 a {
  display: none;
}
.field-fileupload .upload-object.is-error .meta {
  display: none;
}
.field-fileupload.is-sortable {
  position: relative;
}
.field-fileupload.is-sortable .upload-placeholder {
  position: relative;
  border: 1px dotted #e0e0e0 !important;
}
.field-fileupload.is-sortable .upload-object.dragged {
  position: absolute;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 2000;
}
.field-fileupload.is-sortable .upload-object.dragged .uploader-toolbar {
  display: none;
}
body:not(.no-select) .field-fileupload .upload-object:hover h4 a {
  display: block;
}
body:not(.no-select) .field-fileupload .upload-object:hover .meta .drag-handle {
  display: block;
}
@media (max-width: 1024px) {
  .field-fileupload .upload-object h4 a {
    display: block !important;
  }
  .field-fileupload .upload-object .meta .drag-handle {
    display: block !important;
  }
}
.field-fileupload.style-image-multi .upload-button,
.field-fileupload.style-image-multi .upload-object {
  margin: 0 10px 10px 0;
}
.field-fileupload.style-image-multi .upload-button {
  width: 76px;
  height: 76px;
}
.field-fileupload.style-image-multi .upload-files-container {
  margin-left: 90px;
}
.field-fileupload.style-image-multi .upload-object {
  background: #fff;
  border: 1px solid #ecf0f1;
  width: 260px;
}
.field-fileupload.style-image-multi .upload-object .progress-bar {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 5px;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 10px;
  left: 0;
}
.field-fileupload.style-image-multi .upload-object .progress-bar .upload-progress {
  float: left;
  width: 0%;
  height: 100%;
  line-height: 5px;
  color: #ffffff;
  background-color: #5fb6f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.field-fileupload.style-image-multi .upload-object .icon-container {
  border-right: 1px solid #f6f8f9;
  float: left;
  width: 75px;
  height: 75px;
}
.field-fileupload.style-image-multi .upload-object .icon-container i {
  font-size: 35px;
}
.field-fileupload.style-image-multi .upload-object .info {
  margin-left: 90px;
}
.field-fileupload.style-image-multi .upload-object .info h4 {
  padding-right: 15px;
}
.field-fileupload.style-image-multi .upload-object .info h4 a {
  right: 15px;
}
.field-fileupload.style-image-multi .upload-object .meta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 15px 0 90px;
}
.field-fileupload.style-image-multi .upload-object .meta a.drag-handle {
  bottom: 15px;
}
.field-fileupload.style-image-multi .upload-object.upload-placeholder {
  height: 75px;
  background-color: transparent;
}
.field-fileupload.style-image-multi .upload-object.upload-placeholder:after {
  opacity: 0;
}
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover {
  background: #4da7e8 !important;
}
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover i,
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover p.size {
  color: #ecf0f1;
}
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover h4 {
  color: white;
}
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover .icon-container {
  border-right-color: #4da7e8 !important;
}
body:not(.no-select) .field-fileupload.style-image-multi .upload-object:hover h4 {
  padding-right: 35px !important;
}
@media (max-width: 1280px) {
  .field-fileupload.style-image-multi .upload-object {
    width: 230px;
  }
}
@media (max-width: 1024px) {
  .field-fileupload.style-image-multi .upload-button {
    width: 100%;
  }
  .field-fileupload.style-image-multi .upload-files-container {
    margin-left: 0;
  }
  .field-fileupload.style-image-multi .upload-object {
    margin-right: 0;
    display: block;
    width: auto;
  }
}
.field-fileupload.style-image-single.is-populated .upload-button {
  display: none;
}
.field-fileupload.style-image-single .upload-object .icon-container {
  border: 1px solid #f6f8f9;
  background: rgba(255, 255, 255, 0.5);
}
.field-fileupload.style-image-single .upload-object .progress-bar {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 5px;
  background-color: #f5f5f5;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 10px;
  left: 0;
}
.field-fileupload.style-image-single .upload-object .progress-bar .upload-progress {
  float: left;
  width: 0%;
  height: 100%;
  line-height: 5px;
  color: #ffffff;
  background-color: #5fb6f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
.field-fileupload.style-image-single .upload-object .meta {
  position: absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  margin: 0 15px;
}
